/*
	@name page_16__messages_
*/
/* Only edit this if you know what you are doing! */
body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	overflow-x: hidden;
}

/* Only edit this if you know what you are doing! */
img {
	position: absolute;
	display: block;
	margin: 0px;
	border: none;
	padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
	position: absolute;
}

#content-container {
	display: block;
	position: relative;
	width: 1760px;
	width: 1760px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content-container>div {
	position: relative;
	top: inherit;
}

#page_page_16__messages__ek1 {
	top: 0px;
	left: 0px;
	width: 1760px;
	height: 1987px;
}

#_bg__page_16__messages__ek2 {
	top: 0px;
	left: 0px;
	width: 1760px;
	height: 1987px;
	background: rgba(255, 255, 255, 1);
}

#header {
	top: 52px;
	left: 2.4px;
	width: 1728.9px;
	height: 102.1px;
}

#rectangle_2716 {
	top: 0px;
	left: 0px;
	width: 1728.9px;
	height: 102.1px;
}

#group_64122 {
	top: 17px;
	left: 63px;
	width: 1615.66px;
	height: 68.06px;
}

#image_15 {
	top: 9px;
	left: 0px;
	width: 185.09px;
	height: 41.46px;
}

#group_22 {
	top: 7px;
	left: 433px;
	width: 501.54px;
	height: 49.02px;
}

#rectangle_18 {
	top: 0px;
	left: 0px;
	width: 502.54px;
	height: 50.02px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 0.5px solid #757575;
	background: rgba(255, 255, 255, 0);
}


#search_items__collections__and_accounts {
	top: 14px;
	left: 52px;
	width: 403.73px;
	height: 32.25px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color: #787878;
}

#_3028692271535694869__1__1 {
	top: 16px;
	left: 21px;
	width: 20.68px;
	height: 19px;
}

#group {
	top: 0.96px;
	left: 1.04px;
	width: 18.58px;
	height: 17.07px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 18.58px;
	height: 17.07px;
}

#group_64110 {
	top: 0px;
	left: 1142px;
	width: 473.88px;
	height: 68.06px;
}

#group_64092 {
	top: 9px;
	left: 221px;
	width: 53.01px;
	height: 53.01px;
}

#ellipse_14 {
	top: 0px;
	left: 0px;
	width: 53.01px;
	height: 53.01px;
	-ms-border-radius: 26.5px / 26.5px;
	-o-border-radius: 26.5px / 26.5px;
	-moz-border-radius: 26.5px / 26.5px;
	-webkit-border-radius: 26.5px / 26.5px;
	border-radius: 26.5px / 26.5px;
	background: rgba(247, 209, 12, 1);
}

#_8563601801543238914_1 {
	top: 11px;
	left: 11px;
	width: 32.17px;
	height: 32.17px;
}

#vector_ek1 {
	top: 6.7px;
	left: 16.09px;
	width: 0px;
	height: 18.77px;
}


#vector_ek2 {
	top: 16.09px;
	left: 6.7px;
	width: 18.77px;
	height: 0px;
}


#image_16 {
	top: 9px;
	left: 0px;
	width: 52.58px;
	height: 52.58px;
}


#image_17 {
	top: 9px;
	left: 36px;
	width: 57.43px;
	height: 57.43px;
}


#image_18 {
	top: 9px;
	left: 74px;
	width: 57.43px;
	height: 57.43px;
}


#image_19 {
	top: 9px;
	left: 112px;
	width: 57.43px;
	height: 57.43px;
}


#image_20 {
	top: 9px;
	left: 150px;
	width: 63.43px;
	height: 63.43px;
	-ms-border-radius: 360px;
	-o-border-radius: 360px;
	-moz-border-radius: 360px;
	-webkit-border-radius: 360px;
	border-radius: 360px;
	border: 3px solid #ffffff;
	background: rgba(12, 170, 220, 1);
}


#__6 {
	top: 25px;
	left: 165px;
	width: 55.89px;
	height: 37.97px;
	overflow: hidden;
	font-family: poppins;
	font-size: 22px;
	text-align: left;
	line-height: 29.370000839233px;
	color: #FFFFFF;
}

#group_64093 {
	top: 0px;
	left: 368px;
	width: 105.64px;
	height: 68.06px;
}

#rectangle_2710 {
	top: 0px;
	left: 0px;
	width: 105.64px;
	height: 68.06px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-ms-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	background: rgba(255, 255, 255, 1);
}

#group_16 {
	top: 5px;
	left: 10px;
	width: 56.93px;
	height: 56.93px;
}

#ellipse_2 {
	top: 0px;
	left: 0px;
	width: 56.93px;
	height: 56.93px;
	-ms-border-radius: 28.46px / 28.46px;
	-o-border-radius: 28.46px / 28.46px;
	-moz-border-radius: 28.46px / 28.46px;
	-webkit-border-radius: 28.46px / 28.46px;
	border-radius: 28.46px / 28.46px;
	background: rgba(12, 170, 220, 1);
}


#ellipse_1 {
	top: 2px;
	left: 2px;
	width: 52.69px;
	height: 52.69px;
}


#vector_12 {
	top: 32px;
	left: 81px;
	width: 14.83px;
	height: 11.28px;
}

#layer_32 {
	top: 10px;
	left: 304px;
	width: 29.38px;
	height: 38.21px;
}

#vector_ek3 {
	top: 9px;
	left: 0px;
	width: 25.81px;
	height: 25.25px;
}


#vector_ek4 {
	top: 32px;
	left: 8px;
	width: 9.5px;
	height: 6.59px;
}


#vector_ek5 {
	top: 5px;
	left: 12px;
	width: 2.15px;
	height: 5.49px;
}


#vector_ek6 {
	top: 0px;
	left: 21px;
	width: 8.64px;
	height: 8.8px;
}

#body {
	top: 169.87px;
	left: 2.62px;
	width: 1660.5px;
	height: 978.89px;
}

#group_64232 {
	top: 24px;
	left: 93px;
	width: 263.32px;
	height: 43.5px;
}

#new_messages {
	top: 1px;
	left: 0px;
	width: 290.16px;
	height: 57.57px;
	overflow: hidden;

	-ms-transform: rotate(-0.2deg);
	-o-transform: rotate(-0.2deg);
	-webkit-transform: rotate(-0.2deg);
	-moz-transform: rotate(-0.2deg);
	transform: rotate(-0.2deg);
	font-family: Inter;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color: #ED088E;
}


#rectangle_2715 {
	opacity: 0.090000003576279;
	top: 79px;
	left: 25px;
	width: 405.92px;
	height: 5.63px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background: rgba(170, 0, 150.38, 0.09);
}

#group_64539 {
	top: 779px;
	left: 544px;
	width: 1115.48px;
	height: 200.34px;
}

#group_64456 {
	top: 0px;
	left: 0px;
	width: 1115.48px;
	height: 200.34px;
}

#group_112 {
	top: 0px;
	left: 0px;
	width: 1115.48px;
	height: 200.34px;
}

#type_your_message {
	top: 18px;
	left: 12px;
	width: 174.62px;
	height: 24.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 13px;
	font-style: italic;
	text-align: left;
	color: #B5B5B5;
}


#rectangle_23 {
	top: 0px;
	left: 0px;
	width: 1117.48px;
	height: 202.34px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ed088e;
	background: rgba(255, 255, 255, 0);
}

#group_52 {
	top: 140px;
	left: 1000px;
	width: 43.89px;
	height: 43.89px;
}

#ellipse_10 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
	-ms-border-radius: 21.94px / 21.94px;
	-o-border-radius: 21.94px / 21.94px;
	-moz-border-radius: 21.94px / 21.94px;
	-webkit-border-radius: 21.94px / 21.94px;
	border-radius: 21.94px / 21.94px;
	-ms-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-o-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-webkit-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-moz-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	background: rgba(255, 255, 255, 1);
}

#_14246704581556277308 {
	top: 10px;
	left: 15px;
	width: 13.17px;
	height: 24.87px;
}

#icons {
	top: -1.13px;
	left: -8.38px;
	width: 28.73px;
	height: 27.13px;
}

#rounded {
	top: 0px;
	left: 0px;
	width: 28.73px;
	height: 27.13px;
}

#editor {
	top: 0px;
	left: 0px;
	width: 28.73px;
	height: 27.13px;
}

#__round___editor___attach_file {
	top: 0px;
	left: 0px;
	width: 28.73px;
	height: 27.13px;
}

#group_ek1 {
	top: 0px;
	left: 0px;
	width: 28.73px;
	height: 27.13px;
}

#path {
	top: 0px;
	left: 0px;
	width: 28.73px;
	height: 27.13px;
}


#____icon_color {
	top: 1px;
	left: 8px;
	width: 13.17px;
	height: 24.87px;
}

#group_67 {
	top: 140px;
	left: 945px;
	width: 43.89px;
	height: 43.89px;
}

#ellipse_10_ek1 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
	-ms-border-radius: 21.94px / 21.94px;
	-o-border-radius: 21.94px / 21.94px;
	-moz-border-radius: 21.94px / 21.94px;
	-webkit-border-radius: 21.94px / 21.94px;
	border-radius: 21.94px / 21.94px;
	-ms-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-o-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-webkit-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-moz-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	background: rgba(255, 255, 255, 1);
}

#icons_ek1 {
	top: 9px;
	left: 7px;
	width: 27.8px;
	height: 27.8px;
}

#rounded_ek1 {
	top: 0px;
	left: 0px;
	width: 27.8px;
	height: 27.8px;
}

#editor_ek1 {
	top: 0px;
	left: 0px;
	width: 27.8px;
	height: 27.8px;
}

#__round___editor___insert_emoticon {
	top: 0px;
	left: 0px;
	width: 27.8px;
	height: 27.8px;
}

#group_ek2 {
	top: 0px;
	left: 0px;
	width: 27.8px;
	height: 27.8px;
}

#path_ek1 {
	top: 0px;
	left: 0px;
	width: 27.8px;
	height: 27.8px;
}


#____icon_color_ek1 {
	top: 2px;
	left: 2px;
	width: 23.16px;
	height: 23.16px;
}

#group_57 {
	top: 141px;
	left: 1055px;
	width: 42.43px;
	height: 42.43px;
}

#group_56 {
	top: 0px;
	left: 0px;
	width: 42.43px;
	height: 42.43px;
}

#group_53 {
	top: 0px;
	left: 0px;
	width: 42.43px;
	height: 42.43px;
}

#ellipse_10_ek2 {
	top: 0px;
	left: 0px;
	width: 42.43px;
	height: 42.43px;
	-ms-border-radius: 21.21px / 21.21px;
	-o-border-radius: 21.21px / 21.21px;
	-moz-border-radius: 21.21px / 21.21px;
	-webkit-border-radius: 21.21px / 21.21px;
	border-radius: 21.21px / 21.21px;
	-ms-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-o-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-webkit-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-moz-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	background: rgba(255, 255, 255, 1);
}

#_902731501556277131_1 {
	top: 11px;
	left: 13px;
	width: 20.48px;
	height: 19.02px;
}

#icons_ek2 {
	top: -3.17px;
	left: -2.05px;
	width: 24.58px;
	height: 25.36px;
}

#rounded_ek2 {
	top: 0px;
	left: 0px;
	width: 24.58px;
	height: 25.36px;
}

#content {
	top: 0px;
	left: 0px;
	width: 24.58px;
	height: 25.36px;
}

#__round___content___send {
	top: 0px;
	left: 0px;
	width: 24.58px;
	height: 25.36px;
}

#group_ek3 {
	top: 0px;
	left: 0px;
	width: 24.58px;
	height: 25.36px;
}

#path_ek2 {
	top: 0px;
	left: 0px;
	width: 24.58px;
	height: 25.36px;
}


#___icon_color {
	top: 4px;
	left: 2px;
	width: 19.93px;
	height: 17.93px;
}

#group_64538 {
	top: 140px;
	left: 23px;
	width: 912.11px;
	height: 43.89px;
}

#group_64537 {
	top: 0px;
	left: 868px;
	width: 43.89px;
	height: 43.89px;
}

#group_64531 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
}

#group_64530 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
}

#ellipse_10_ek3 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
	-ms-border-radius: 21.94px / 21.94px;
	-o-border-radius: 21.94px / 21.94px;
	-moz-border-radius: 21.94px / 21.94px;
	-webkit-border-radius: 21.94px / 21.94px;
	border-radius: 21.94px / 21.94px;
	-ms-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-o-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-webkit-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-moz-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	background: rgba(255, 255, 255, 1);
}

#two_tone {
	top: 7px;
	left: 7px;
	width: 30.41px;
	height: 30.41px;
}

#editor_ek2 {
	top: 0px;
	left: 0px;
	width: 30.41px;
	height: 30.41px;
}

#two_tone___editor___insert_link {
	top: 0px;
	left: 0px;
	width: 30.41px;
	height: 30.41px;
}

#group_ek4 {
	top: 0px;
	left: 0px;
	width: 30.41px;
	height: 30.41px;
}

#path_ek3 {
	top: 0px;
	left: 0px;
	width: 30.41px;
	height: 30.41px;
}


#____primary_color {
	top: 9px;
	left: 2px;
	width: 25.35px;
	height: 12.67px;
}

#group_64534 {
	top: 0px;
	left: 813px;
	width: 43.89px;
	height: 43.89px;
}

#group_64533 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
}

#group_64530_ek1 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
}

#ellipse_10_ek4 {
	top: 0px;
	left: 0px;
	width: 43.89px;
	height: 43.89px;
	-ms-border-radius: 21.94px / 21.94px;
	-o-border-radius: 21.94px / 21.94px;
	-moz-border-radius: 21.94px / 21.94px;
	-webkit-border-radius: 21.94px / 21.94px;
	border-radius: 21.94px / 21.94px;
	-ms-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-o-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-webkit-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	-moz-box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	box-shadow: 0px 1px 6px 1px rgba(200, 200, 200, 0.25);
	background: rgba(255, 255, 255, 1);
}

#group_64532 {
	top: 11px;
	left: 10px;
	width: 22.57px;
	height: 22.57px;
}

#vector_ek7 {
	top: 0px;
	left: 0px;
	width: 22.57px;
	height: 22.57px;
}


#vector_ek8 {
	top: 3px;
	left: 14px;
	width: 5.64px;
	height: 5.64px;
}

#group_55 {
	top: 5px;
	left: 0px;
	width: 376.01px;
	height: 36.71px;
}

#group_50 {
	top: 0px;
	left: 0px;
	width: 376.01px;
	height: 36.71px;
}

#rectangle_24 {
	top: 0px;
	left: 0px;
	width: 376.01px;
	height: 36.71px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-ms-box-shadow: 2px 2px 5px 1px rgba(213, 213, 213, 0.25);
	-o-box-shadow: 2px 2px 5px 1px rgba(213, 213, 213, 0.25);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(213, 213, 213, 0.25);
	-moz-box-shadow: 2px 2px 5px 1px rgba(213, 213, 213, 0.25);
	box-shadow: 2px 2px 5px 1px rgba(213, 213, 213, 0.25);
	background: rgba(255, 255, 255, 1);
}

#_14012699501556277314 {
	top: 9px;
	left: 24px;
	width: 13.93px;
	height: 17.72px;
}

#icons_ek3 {
	top: -5.06px;
	left: -8.86px;
	width: 30.38px;
	height: 30.38px;
}

#rounded_ek3 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#editor_ek3 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#__round___editor___format_bold {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#group_ek5 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#path_ek4 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}


#____icon_color_ek2 {
	top: 5px;
	left: 9px;
	width: 13.61px;
	height: 17.72px;
}

#_1969213871556277313 {
	top: 8px;
	left: 160px;
	width: 20.26px;
	height: 20.26px;
}

#icons_ek4 {
	top: -3.38px;
	left: -3.38px;
	width: 27.01px;
	height: 27.01px;
}

#rounded_ek4 {
	top: 0px;
	left: 0px;
	width: 27.01px;
	height: 27.01px;
}

#editor_ek4 {
	top: 0px;
	left: 0px;
	width: 27.01px;
	height: 27.01px;
}

#__round___editor___format_align_left {
	top: 0px;
	left: 0px;
	width: 27.01px;
	height: 27.01px;
}

#group_ek6 {
	top: 0px;
	left: 0px;
	width: 27.01px;
	height: 27.01px;
}

#path_ek5 {
	top: 0px;
	left: 0px;
	width: 27.01px;
	height: 27.01px;
}


#____icon_color_ek3 {
	top: 3px;
	left: 3px;
	width: 20.26px;
	height: 20.26px;
}

#_10246756041556277325 {
	top: 9px;
	left: 109px;
	width: 22.79px;
	height: 18.99px;
}

#icons_ek5 {
	top: -3.8px;
	left: -3.8px;
	width: 30.38px;
	height: 30.38px;
}

#rounded_ek5 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#editor_ek5 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#__round___editor___strikethrough_s {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#group_ek7 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#path_ek6 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}


#____icon_color_ek4 {
	top: 4px;
	left: 4px;
	width: 22.79px;
	height: 19px;
}

#_5665247771556277318 {
	top: 9px;
	left: 81px;
	width: 15.19px;
	height: 18.99px;
}

#icons_ek6 {
	top: -3.17px;
	left: -5.43px;
	width: 26.04px;
	height: 25.32px;
}

#rounded_ek6 {
	top: 0px;
	left: 0px;
	width: 26.04px;
	height: 25.32px;
}

#editor_ek6 {
	top: 0px;
	left: 0px;
	width: 26.04px;
	height: 25.32px;
}

#__round___editor___format_underlined {
	top: 0px;
	left: 0px;
	width: 26.04px;
	height: 25.32px;
}

#group_ek8 {
	top: 0px;
	left: 0px;
	width: 26.04px;
	height: 25.32px;
}

#path_ek7 {
	top: 0px;
	left: 0px;
	width: 26.04px;
	height: 25.32px;
}


#____icon_color_ek5 {
	top: 3px;
	left: 5px;
	width: 15.19px;
	height: 18.99px;
}

#_21340049831556277315 {
	top: 8px;
	left: 291px;
	width: 20.26px;
	height: 20.26px;
}

#icons_ek7 {
	top: 0px;
	left: 0px;
	width: 20.26px;
	height: 20.26px;
}

#rounded_ek7 {
	top: 0px;
	left: 0px;
	width: 20.26px;
	height: 20.26px;
}

#editor_ek7 {
	top: 0px;
	left: 0px;
	width: 20.26px;
	height: 20.26px;
}

#__round___editor___format_indent_increase {
	top: 0px;
	left: 0px;
	width: 20.26px;
	height: 20.26px;
}

#group_ek9 {
	top: 0px;
	left: 0px;
	width: 20.26px;
	height: 20.26px;
}

#____icon_color_ek6 {
	top: 0px;
	left: 0px;
	width: 20.26px;
	height: 20.26px;
}

#frame_1 {
	top: 8px;
	left: 263px;
	width: 20.26px;
	height: 20.26px;
}

#_1927924664 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#icons_ek8 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#rounded_ek8 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#editor_ek8 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#__round___editor___format_indent_increase_ek1 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#group_ek10 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#____icon_color_ek7 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}


#____icon_color_ek8 {
	top: -1px;
	left: 0px;
	width: 3.37px;
	height: 5.86px;
}

#_3661021221571120055 {
	top: 8px;
	left: 216px;
	width: 24.05px;
	height: 20.26px;
}

#icons_ek9 {
	top: -5.06px;
	left: -2.53px;
	width: 30.38px;
	height: 30.38px;
}

#two_tone_ek1 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#editor_ek9 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#two_tone___editor___format_list_bulletedx {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#group_ek11 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#path_ek8 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}


#____primary_color_ek1 {
	top: 6px;
	left: 3px;
	width: 23.42px;
	height: 18.99px;
}

#_2089325391556277323 {
	top: 9px;
	left: 52px;
	width: 15.19px;
	height: 17.72px;
}

#icons_ek10 {
	top: -5.06px;
	left: -7.6px;
	width: 30.38px;
	height: 30.38px;
}

#rounded_ek9 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#editor_ek10 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#__round___editor___ormat_italic {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#group_ek12 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#path_ek9 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}


#____icon_color_ek9 {
	top: 5px;
	left: 8px;
	width: 15.19px;
	height: 17.72px;
}

#_11592631701556277316 {
	top: 8px;
	left: 185px;
	width: 24.05px;
	height: 20.26px;
}

#icons_ek11 {
	top: -5.06px;
	left: -2.53px;
	width: 30.38px;
	height: 30.38px;
}

#rounded_ek10 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#editor_ek11 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#__round___editor___format_list_numbered {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#group_ek13 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#path_ek10 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}


#____icon_color_ek10 {
	top: 5px;
	left: 3px;
	width: 24.05px;
	height: 20.26px;
}

#_18140801556277131 {
	top: 9px;
	left: 336px;
	width: 17.72px;
	height: 18.99px;
}

#icons_ek12 {
	top: -5.06px;
	left: -6.33px;
	width: 30.38px;
	height: 30.38px;
}

#rounded_ek11 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#content_ek1 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#__round___content___text_format {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#group_ek14 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}

#path_ek11 {
	top: 0px;
	left: 0px;
	width: 30.38px;
	height: 30.38px;
}


#___icon_color_ek1 {
	top: 5px;
	left: 6px;
	width: 17.72px;
	height: 18.99px;
}


#line_70 {
	top: 129px;
	left: 11px;
	width: 1093.94px;
	height: 0px;
}

#group_64541 {
	top: 0px;
	left: 440px;
	width: 1220.71px;
	height: 944.4px;
}

#rectangle_2745 {
	top: 0px;
	left: 105px;
	width: 1116.06px;
	height: 749.93px;
}


#rectangle_2746 {
	top: 105px;
	left: 1198px;
	width: 8.05px;
	height: 236.42px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background: rgba(240.12, 240.12, 240.12, 1);
}


#rectangle_2747 {
	top: 144px;
	left: 0px;
	width: 8.05px;
	height: 800.27px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background: rgba(240.12, 240.12, 240.12, 1);
}

#group_64391 {
	top: 50px;
	left: 146px;
	width: 1017.41px;
	height: 366.16px;
}

#group_64389 {
	top: 0px;
	left: 0px;
	width: 1017.41px;
	height: 53.12px;
}

#line_65 {
	top: 46px;
	left: 67px;
	width: 945.7px;
	height: 0px;
}

#group_64227 {
	top: 0px;
	left: 0px;
	width: 326.38px;
	height: 53.12px;
}

#image_21 {
	top: 0px;
	left: 0px;
	width: 53.12px;
	height: 53.12px;
}


#jesse_lorem {
	top: 14px;
	left: 68px;
	width: 169.6px;
	height: 37.91px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#product_designer__paris {
	top: 17px;
	left: 178px;
	width: 167.00000009537px;
	height: 36.310000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #000000;
}

#group_64388 {
	top: 17px;
	left: 820px;
	width: 197.41px;
	height: 26.91px;
}

#today___12_may_2022_at_14_10 {
	top: 0px;
	left: 16px;
	width: 199.48000009537px;
	height: 36.310000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #9F9F9F;
}

#_10114438941543238869__2__1 {
	top: 1px;
	left: 0px;
	width: 12px;
	height: 12px;
}

#vector_ek9 {
	top: 1px;
	left: 1px;
	width: 10px;
	height: 10px;
}


#vector_ek10 {
	top: 3px;
	left: 6px;
	width: 2px;
	height: 4px;
}

#group_64390 {
	top: 68px;
	left: 63px;
	width: 154.42px;
	height: 39.41px;
}

#presentation_xls {
	top: 6px;
	left: 70px;
	width: 101.62px;
	height: 23.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #8D8D8D;
}


#_450kb {
	top: 24px;
	left: 70px;
	width: 99.62px;
	height: 22.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 10px;
	text-align: left;
	line-height: 13.35000038147px;
	color: #8D8D8D;
}

#_15539768751536080153_1 {
	top: 0px;
	left: 22px;
	width: 39px;
	height: 39px;
}

#group_ek15 {
	top: 0px;
	left: 4.53px;
	width: 29.95px;
	height: 39px;
}

#vector_ek11 {
	top: 0px;
	left: 0px;
	width: 29.95px;
	height: 39px;
}


#vector_ek12 {
	top: 0px;
	left: 22px;
	width: 8.25px;
	height: 8.25px;
}


#vector_ek13 {
	top: 27px;
	left: 0px;
	width: 29.95px;
	height: 11.84px;
}

#group_ek16 {
	top: 30px;
	left: 7px;
	width: 16.48px;
	height: 7.02px;
}

#vector_ek14 {
	top: 0px;
	left: 0px;
	width: 4.47px;
	height: 7.02px;
}


#vector_ek15 {
	top: 0px;
	left: 6px;
	width: 4.47px;
	height: 7.02px;
}


#vector_ek16 {
	top: 0px;
	left: 11px;
	width: 5.34px;
	height: 7.02px;
}

#group_52_ek1 {
	top: 13px;
	left: 5px;
	width: 10.72px;
	height: 20.25px;
}

#_14246704581556277308_ek1 {
	top: 0px;
	left: 0px;
	width: 10.72px;
	height: 20.25px;
}

#icons_ek13 {
	top: -0.92px;
	left: -6.82px;
	width: 23.39px;
	height: 22.09px;
}

#rounded_ek12 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#editor_ek12 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#__round___editor___attach_file_ek1 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#group_ek17 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#path_ek12 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}


#____icon_color_ek11 {
	top: 1px;
	left: 7px;
	width: 10.72px;
	height: 20.26px;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua__ut_enim_ad_minim_veniam__quis_nostrud_exercitation_ullamco_laboris_nisi_ut_aliquip_ex_ea_commodo_consequat__duis_aute_irure_dolor_in_reprehenderit_in_voluptate_velit_esse_cillum_dolore_eu_fugiat_nulla_pariatur__excepteur_sint_occaecat_cupidatat_non_proident__sunt_in_culpa_qui_officia_deserunt_mollit_anim_id_est_laborum {
	top: 132px;
	left: 66px;
	width: 752.79px;
	height: 237.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #2A2A2A;
}

#group_64392 {
	top: 410px;
	left: 146px;
	width: 1017.41px;
	height: 366.16px;
}

#group_64389_ek1 {
	top: 0px;
	left: 0px;
	width: 1017.41px;
	height: 53.12px;
}

#line_65_ek1 {
	top: 46px;
	left: 67px;
	width: 943.21px;
	height: px;
}

#group_64227_ek1 {
	top: 0px;
	left: 0px;
	width: 326.38px;
	height: 53.12px;
}

#image_21_ek1 {
	top: 0px;
	left: 0px;
	width: 53.12px;
	height: 53.12px;
}


#jesse_lorem_ek1 {
	top: 14px;
	left: 68px;
	width: 169.6px;
	height: 37.91px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#product_designer__paris_ek1 {
	top: 17px;
	left: 178px;
	width: 167.00000009537px;
	height: 36.310000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #000000;
}

#group_64388_ek1 {
	top: 17px;
	left: 820px;
	width: 197.41px;
	height: 26.91px;
}

#today___12_may_2022_at_14_10_ek1 {
	top: 0px;
	left: 16px;
	width: 199.48000009537px;
	height: 36.310000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #9F9F9F;
}

#_10114438941543238869__2__1_ek1 {
	top: 1px;
	left: 0px;
	width: 12px;
	height: 12px;
}

#vector_ek17 {
	top: 1px;
	left: 1px;
	width: 10px;
	height: 10px;
}


#vector_ek18 {
	top: 3px;
	left: 6px;
	width: 2px;
	height: 4px;
}

#group_64390_ek1 {
	top: 68px;
	left: 63px;
	width: 154.42px;
	height: 39.41px;
}

#presentation_xls_ek1 {
	top: 6px;
	left: 70px;
	width: 101.62px;
	height: 23.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #8D8D8D;
}


#_450kb_ek1 {
	top: 24px;
	left: 70px;
	width: 99.62px;
	height: 22.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 10px;
	text-align: left;
	line-height: 13.35000038147px;
	color: #8D8D8D;
}

#_15539768751536080153_1_ek1 {
	top: 0px;
	left: 22px;
	width: 39px;
	height: 39px;
}

#group_ek18 {
	top: 0px;
	left: 4.53px;
	width: 29.95px;
	height: 39px;
}

#vector_ek19 {
	top: 0px;
	left: 0px;
	width: 29.95px;
	height: 39px;
}


#vector_ek20 {
	top: 0px;
	left: 22px;
	width: 8.25px;
	height: 8.25px;
}


#vector_ek21 {
	top: 27px;
	left: 0px;
	width: 29.95px;
	height: 11.84px;
}

#group_ek19 {
	top: 30px;
	left: 7px;
	width: 16.48px;
	height: 7.02px;
}

#vector_ek22 {
	top: 0px;
	left: 0px;
	width: 4.47px;
	height: 7.02px;
}


#vector_ek23 {
	top: 0px;
	left: 6px;
	width: 4.47px;
	height: 7.02px;
}


#vector_ek24 {
	top: 0px;
	left: 11px;
	width: 5.34px;
	height: 7.02px;
}

#group_52_ek2 {
	top: 13px;
	left: 5px;
	width: 10.72px;
	height: 20.25px;
}

#_14246704581556277308_ek2 {
	top: 0px;
	left: 0px;
	width: 10.72px;
	height: 20.25px;
}

#icons_ek14 {
	top: -0.92px;
	left: -6.82px;
	width: 23.39px;
	height: 22.09px;
}

#rounded_ek13 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#editor_ek13 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#__round___editor___attach_file_ek2 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#group_ek20 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}

#path_ek13 {
	top: 0px;
	left: 0px;
	width: 23.39px;
	height: 22.09px;
}


#____icon_color_ek12 {
	top: 1px;
	left: 7px;
	width: 10.72px;
	height: 20.26px;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua__ut_enim_ad_minim_veniam__quis_nostrud_exercitation_ullamco_laboris_nisi_ut_aliquip_ex_ea_commodo_consequat__duis_aute_irure_dolor_in_reprehenderit_in_voluptate_velit_esse_cillum_dolore_eu_fugiat_nulla_pariatur__excepteur_sint_occaecat_cupidatat_non_proident__sunt_in_culpa_qui_officia_deserunt_mollit_anim_id_est_laborum_ek1 {
	top: 132px;
	left: 66px;
	width: 948px;
	height: 237.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #2A2A2A;
}

#group_64544 {
	top: 120px;
	left: 0px;
	width: 431.08px;
	height: 80.68px;
}

#group_64227_ek2 {
	top: 0px;
	left: 0px;
	width: 429.87px;
	height: 80.68px;
}

#rectangle_2734 {
	top: 0px;
	left: 8px;
	width: 429.87px;
	height: 80.68px;
	-ms-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-o-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-webkit-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-moz-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	background: rgba(255, 255, 255, 1);
}


#image_21_ek2 {
	top: 9px;
	left: 32px;
	width: 58.39px;
	height: 58.39px;
}

#group_64542 {
	top: 19px;
	left: 120px;
	width: 185.75px;
	height: 58.53px;
}

#jesse_lorem_ek2 {
	top: 0px;
	left: 0px;
	width: 210.75px;
	height: 47.64px;
	overflow: hidden;
	font-family: poppins;
	font-size: 20px;
	text-align: left;
	line-height: 26.700000762939px;
	color: #000000;
}


#product_designer {
	top: 25px;
	left: 0px;
	width: 206.75px;
	height: 44.64px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#_23m_ago {
	top: 35px;
	left: 346px;
	width: 101.62px;
	height: 23.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #8D8D8D;
}

#group_64545 {
	top: 200px;
	left: 0px;
	width: 431.08px;
	height: 80.68px;
}

#group_64228 {
	top: 0px;
	left: 0px;
	width: 429.87px;
	height: 80.68px;
}

#rectangle_2734_ek1 {
	top: 0px;
	left: 8px;
	width: 429.87px;
	height: 80.68px;
	-ms-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-o-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-webkit-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-moz-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	background: rgba(255, 255, 255, 1);
}


#image_21_ek3 {
	top: 11px;
	left: 32px;
	width: 58.39px;
	height: 58.39px;
}

#group_64543 {
	top: 19px;
	left: 120px;
	width: 185.75px;
	height: 58.53px;
}

#john_ji {
	top: 0px;
	left: 0px;
	width: 87px;
	height: 41px;
	overflow: hidden;
	font-family: poppins;
	font-size: 20px;
	text-align: left;
	line-height: 26.700000762939px;
	color: #000000;
}


#java_script {
	top: 25px;
	left: 0px;
	width: 206.75px;
	height: 44.64px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#_1hr_ago {
	top: 35px;
	left: 346px;
	width: 101.62px;
	height: 23.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #8D8D8D;
}

#group_64546 {
	top: 280px;
	left: 0px;
	width: 431.08px;
	height: 80.68px;
}

#group_64229 {
	top: 0px;
	left: 0px;
	width: 429.87px;
	height: 80.68px;
}

#rectangle_2734_ek2 {
	top: 0px;
	left: 8px;
	width: 429.87px;
	height: 80.68px;
	-ms-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-o-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-webkit-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	-moz-box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	box-shadow: -8px 23px 28px 1px rgba(170, 0, 150, 0.06);
	background: rgba(255, 255, 255, 1);
}


#image_21_ek4 {
	top: 10px;
	left: 32px;
	width: 58.39px;
	height: 58.39px;
}


#lara_croft {
	top: 19px;
	left: 120px;
	width: 117px;
	height: 41px;
	overflow: hidden;
	font-family: poppins;
	font-size: 20px;
	text-align: left;
	line-height: 26.700000762939px;
	color: #000000;
}


#project_manager {
	top: 44px;
	left: 120px;
	width: 206.75px;
	height: 44.64px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#_4hr_ago {
	top: 36px;
	left: 346px;
	width: 101.62px;
	height: 23.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #8D8D8D;
}

#group_64547 {
	top: 360px;
	left: 1px;
	width: 429.64px;
	height: 80.68px;
}

#group_64230 {
	top: 0px;
	left: 0px;
	width: 428.43px;
	height: 80.68px;
}

#rectangle_2734_ek3 {
	top: 0px;
	left: 0px;
	width: 428.43px;
	height: 80.68px;
	background: rgba(255, 255, 255, 1);
}


#image_21_ek5 {
	top: 7px;
	left: 31px;
	width: 58.39px;
	height: 58.39px;
}


#frederic_ambert {
	top: 19px;
	left: 119px;
	width: 182px;
	height: 41px;
	overflow: hidden;
	font-family: poppins;
	font-size: 20px;
	text-align: left;
	line-height: 26.700000762939px;
	color: #000000;
}


#database_adminstrator {
	top: 44px;
	left: 119px;
	width: 206.75px;
	height: 44.64px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#_23m_ago_ek1 {
	top: 33px;
	left: 345px;
	width: 101.62px;
	height: 23.73px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #8D8D8D;
}

#group_64551 {
	top: 12px;
	left: 1606px;
	width: 40.03px;
	height: 40.03px;
}

#ellipse_36 {
	top: 0px;
	left: 0px;
	width: 40.03px;
	height: 40.03px;
	-ms-border-radius: 20.01px / 20.01px;
	-o-border-radius: 20.01px / 20.01px;
	-moz-border-radius: 20.01px / 20.01px;
	-webkit-border-radius: 20.01px / 20.01px;
	border-radius: 20.01px / 20.01px;
	-ms-box-shadow: 0px 4px 14px 1px rgba(168, 168, 168, 0.25);
	-o-box-shadow: 0px 4px 14px 1px rgba(168, 168, 168, 0.25);
	-webkit-box-shadow: 0px 4px 14px 1px rgba(168, 168, 168, 0.25);
	-moz-box-shadow: 0px 4px 14px 1px rgba(168, 168, 168, 0.25);
	box-shadow: 0px 4px 14px 1px rgba(168, 168, 168, 0.25);
	background: rgba(255, 255, 255, 1);
}

#group_64548 {
	top: 18px;
	left: 10px;
	width: 17.94px;
	height: 4.3px;
}

#ellipse_37 {
	top: 0px;
	left: 0px;
	width: 4.3px;
	height: 4.3px;
	-ms-border-radius: 2.15px / 2.15px;
	-o-border-radius: 2.15px / 2.15px;
	-moz-border-radius: 2.15px / 2.15px;
	-webkit-border-radius: 2.15px / 2.15px;
	border-radius: 2.15px / 2.15px;
	background: rgba(188.06, 188.06, 188.06, 1);
}


#ellipse_38 {
	top: 0px;
	left: 7px;
	width: 4.3px;
	height: 4.3px;
	-ms-border-radius: 2.15px / 2.15px;
	-o-border-radius: 2.15px / 2.15px;
	-moz-border-radius: 2.15px / 2.15px;
	-webkit-border-radius: 2.15px / 2.15px;
	border-radius: 2.15px / 2.15px;
	background: rgba(188.06, 188.06, 188.06, 1);
}


#ellipse_39 {
	top: 0px;
	left: 14px;
	width: 4.3px;
	height: 4.3px;
	-ms-border-radius: 2.15px / 2.15px;
	-o-border-radius: 2.15px / 2.15px;
	-moz-border-radius: 2.15px / 2.15px;
	-webkit-border-radius: 2.15px / 2.15px;
	border-radius: 2.15px / 2.15px;
	background: rgba(188.06, 188.06, 188.06, 1);
}

#group_64549 {
	top: 108px;
	left: 1458px;
	width: 138.86px;
	height: 13.85px;
}

#delete {
	top: 0px;
	left: 96px;
	width: 61.380000095367px;
	height: 23.250000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #ED088E;
}


#report__block {
	top: 0px;
	left: 0px;
	width: 98.190000095367px;
	height: 23.250000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #ED088E;
}

#group_64550 {
	top: 463px;
	left: 1458px;
	width: 138.86px;
	height: 13.85px;
}

#delete_ek1 {
	top: 0px;
	left: 96px;
	width: 61.380000095367px;
	height: 23.250000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #ED088E;
}


#report__block_ek1 {
	top: 0px;
	left: 0px;
	width: 98.190000095367px;
	height: 23.250000095367px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12.8px;
	text-align: left;
	line-height: 17.088000488281px;
	color: #ED088E;
}


#vector_ek25 {
	top: 30px;
	left: 42px;
	width: 23.56px;
	height: 19.94px;
}


#vector_ek26 {
	top: 34px;
	left: 42px;
	width: 23.56px;
	height: 7.25px;
}

#footer {
	top: 1224px;
	left: 1.98px;
	width: 1731.8px;
	height: 664.31px;
}

#group_64363 {
	top: 0px;
	left: 0px;
	width: 1731.8px;
	height: 664.31px;
}

#rectangle_33 {
	top: 0px;
	left: 0px;
	width: 1731.8px;
	height: 664.31px;
	background: rgba(249.69, 249.69, 249.69, 1);
}


#stay_in_the_loop {
	top: 76px;
	left: 136px;
	width: 403.76px;
	height: 75.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#join_the_community {
	top: 76px;
	left: 987px;
	width: 403.76px;
	height: 75.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#join_our_mailing_list_to_stay_in_the_loop_with_our_newest_feature_releases__tips_and_tricks_for_navigating_plugme_ {
	top: 119px;
	left: 136px;
	width: 590.89px;
	height: 69.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	color: #262626;
}

#group_64271 {
	top: 345px;
	left: 1214px;
	width: 153.75px;
	height: 184.93px;
}

#resources {
	top: 1px;
	left: 0px;
	width: 182.61px;
	height: 52.5px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#help_center {
	top: 63px;
	left: 0px;
	width: 158.19px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#blog {
	top: 108px;
	left: 0px;
	width: 133.72px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#newsletter {
	top: 159px;
	left: 0px;
	width: 133.72px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua__ut_enim_ad_minim_veniam__quis_nostrud_exercitation_ullamco_laboris_nisi_ut_aliquip_ex_ea_commodo_consequat_ {
	top: 391px;
	left: 146px;
	width: 590.89px;
	height: 183.66px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	color: #262626;
}

#group_84 {
	top: 190px;
	left: 136px;
	width: 564.12px;
	height: 49.02px;
}

#group_82 {
	top: 0px;
	left: 0px;
	width: 399.41px;
	height: 49.02px;
}

#rectangle_18_ek1 {
	top: 0px;
	left: 0px;
	width: 389.44px;
	height: 49.02px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 1);
}


#your_email_address {
	top: 14px;
	left: 17px;
	width: 403.73px;
	height: 32.25px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color: #7F7F7F;
}

#group_83 {
	top: 0px;
	left: 403px;
	width: 160.76px;
	height: 48.36px;
}

#rectangle_4 {
	top: 0px;
	left: 0px;
	width: 162.76px;
	height: 50.36px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ffffff;
	background: rgba(237, 8, 142, 1);
}


#create {
	top: 14px;
	left: 42px;
	width: 82px;
	height: 35.86px;
	overflow: hidden;

	-ms-transform: rotate(-0.22deg);
	-o-transform: rotate(-0.22deg);
	-webkit-transform: rotate(-0.22deg);
	-moz-transform: rotate(-0.22deg);
	transform: rotate(-0.22deg);
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}


#line_2 {
	top: 297px;
	left: 114px;
	width: 1526.33px;
	height: 1px;
	background: #262626;
}


#plugme {
	top: 349px;
	left: 143px;
	width: 188.72px;
	height: 37.54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}

#group_64269 {
	top: 130px;
	left: 979px;
	width: 511.43px;
	height: 63.56px;
}

#group_64266 {
	top: 0px;
	left: 0px;
	width: 241.66px;
	height: 62.37px;
}

#_2729684421556105319_1 {
	top: 2px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}

#vector_ek27 {
	top: 0px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}


#vector_ek28 {
	top: 14.39px;
	left: 22.92px;
	width: 15.18px;
	height: 31.32px;
}

#_17998766861556105338_1 {
	top: 2px;
	left: 90px;
	width: 59.79px;
	height: 57.58px;
}

#vector_ek29 {
	top: 0px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}


#vector_ek30 {
	top: 17.27px;
	left: 14.95px;
	width: 28.94px;
	height: 23.03px;
}

#_18265738341599780998_1 {
	top: 0px;
	left: 177px;
	width: 64.77px;
	height: 62.37px;
}

#vector_ek31 {
	top: 0.4px;
	left: 0.45px;
	width: 63.87px;
	height: 61.5px;
}

#group_ek21 {
	top: 14.71px;
	left: 15.56px;
	width: 33.56px;
	height: 32.31px;
}

#vector_ek32 {
	top: 6px;
	left: 24px;
	width: 3.93px;
	height: 3.79px;
}


#vector_ek33 {
	top: 8px;
	left: 9px;
	width: 16.53px;
	height: 15.92px;
}

#group_ek22 {
	top: 0px;
	left: 0px;
	width: 33.56px;
	height: 32.31px;
}

#vector_ek34 {
	top: 0px;
	left: 0px;
	width: 33.56px;
	height: 32.31px;
}

#group_64267 {
	top: 1px;
	left: 268px;
	width: 64.07px;
	height: 61.88px;
}

#_3944579761556105702_1 {
	top: 0px;
	left: 0px;
	width: 64.07px;
	height: 61.88px;
}

#rectangle_31 {
	top: 12.11px;
	left: 12.48px;
	width: 38.11px;
	height: 38.44px;
	background: rgba(255, 255, 255, 1);
}


#vector_ek35 {
	top: 0px;
	left: 0px;
	width: 64.07px;
	height: 61.88px;
}


#vector_ek36 {
	top: 21.82px;
	left: 21.64px;
	width: 22.09px;
	height: 15.16px;
}

#group_64268 {
	top: 1px;
	left: 358px;
	width: 63.79px;
	height: 61.62px;
}

#_6758899171556105723_1 {
	top: 0px;
	left: 0px;
	width: 63.79px;
	height: 61.62px;
}

#rectangle_31_ek1 {
	top: 17.23px;
	left: 12.59px;
	width: 40.32px;
	height: 31.52px;
	background: rgba(255, 255, 255, 1);
}


#vector_ek37 {
	top: 0px;
	left: 0px;
	width: 63.79px;
	height: 61.62px;
}

#page_1 {
	top: 2px;
	left: 447px;
	width: 64.09px;
	height: 61.91px;
}

#social_icons___squared_black {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#medium {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#square {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#group_ek23 {
	top: 18px;
	left: 15px;
	width: 32.73px;
	height: 26.92px;
}

#fill_1 {
	top: 0px;
	left: 22px;
	width: 10.91px;
	height: 26.82px;
}


#fill_2 {
	top: 0px;
	left: 11px;
	width: 21.77px;
	height: 22.2px;
}


#fill_3 {
	top: 0px;
	left: 1px;
	width: 21.18px;
	height: 21.97px;
}


#fill_4 {
	top: 0px;
	left: 0px;
	width: 10.91px;
	height: 26.79px;
}

#group_64443 {
	top: 595px;
	left: 102px;
	width: 1526.33px;
	height: 43.2px;
}

#line_3 {
	top: 0px;
	left: 0px;
	width: 1526.33px;
	height: 1px;
	background: #232323;
}

#group_77 {
	top: 19px;
	left: 37px;
	width: 155.1px;
	height: 24.03px;
}

#___2022_plugme {
	top: 0px;
	left: -3px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}

#group_64273 {
	top: 19px;
	left: 1185px;
	width: 316.73px;
	height: 24.03px;
}

#privacy_policy {
	top: 0px;
	left: -3px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}


#terms_of_service {
	top: 0px;
	left: 159px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}



/* Add your custom CSS here */