/*
	@name page_9__viewing_media_
*/
/* Only edit this if you know what you are doing! */
body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	overflow-x: hidden;
}

/* Only edit this if you know what you are doing! */
img {
	position: absolute;
	display: block;
	margin: 0px;
	border: none;
	padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
	position: absolute;
}

#content-container {
	display: block;
	position: relative;
	width: 1765px;
	width: 1765px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content-container>div {
	position: relative;
	top: inherit;
}

#page_page_9__viewing_media__ek1 {
	top: 0px;
	left: 0px;
	width: 1765px;
	height: 2377px;
}

#_bg__page_9__viewing_media__ek2 {
	top: 0px;
	left: 0px;
	width: 1765px;
	height: 2377px;
	background: rgba(255, 255, 255, 1);
}

#footer {
	top: 1673.91px;
	left: 0.15px;
	width: 1731.8px;
	height: 664.31px;
}

#group_64363 {
	top: 0px;
	left: 0px;
	width: 1731.8px;
	height: 664.31px;
}

#rectangle_33 {
	top: 0px;
	left: 0px;
	width: 1731.8px;
	height: 664.31px;
	background: rgba(249.69, 249.69, 249.69, 1);
}


#stay_in_the_loop {
	top: 76px;
	left: 137px;
	width: 403.76px;
	height: 75.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#join_the_community {
	top: 76px;
	left: 987px;
	width: 403.76px;
	height: 75.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#join_our_mailing_list_to_stay_in_the_loop_with_our_newest_feature_releases__tips_and_tricks_for_navigating_plugme_ {
	top: 119px;
	left: 137px;
	width: 590.89px;
	height: 69.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	color: #262626;
}

#group_64271 {
	top: 345px;
	left: 1214px;
	width: 153.75px;
	height: 184.93px;
}

#resources {
	top: 1px;
	left: 0px;
	width: 182.61px;
	height: 52.5px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#help_center {
	top: 63px;
	left: 0px;
	width: 158.19px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#blog {
	top: 108px;
	left: 0px;
	width: 133.72px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#newsletter {
	top: 159px;
	left: 0px;
	width: 133.72px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua__ut_enim_ad_minim_veniam__quis_nostrud_exercitation_ullamco_laboris_nisi_ut_aliquip_ex_ea_commodo_consequat_ {
	top: 391px;
	left: 146px;
	width: 590.89px;
	height: 183.66px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	color: #262626;
}

#group_84 {
	top: 190px;
	left: 136px;
	width: 564.12px;
	height: 49.02px;
}

#group_82 {
	top: 0px;
	left: 0px;
	width: 399.41px;
	height: 49.02px;
}

#rectangle_18 {
	top: 0px;
	left: 0px;
	width: 389.44px;
	height: 49.02px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 1);
}


#your_email_address {
	top: 14px;
	left: 16px;
	width: 403.73px;
	height: 32.25px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color: #7F7F7F;
}

#group_83 {
	top: 0px;
	left: 403px;
	width: 160.76px;
	height: 48.36px;
}

#rectangle_4 {
	top: 0px;
	left: 0px;
	width: 162.76px;
	height: 50.36px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ffffff;
	background: rgba(237, 8, 142, 1);
}


#create {
	top: 14px;
	left: 42px;
	width: 82px;
	height: 35.86px;
	overflow: hidden;

	-ms-transform: rotate(-0.22deg);
	-o-transform: rotate(-0.22deg);
	-webkit-transform: rotate(-0.22deg);
	-moz-transform: rotate(-0.22deg);
	transform: rotate(-0.22deg);
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}


#line_2 {
	top: 297px;
	left: 114px;
	width: 1526.33px;
	height: 1px;
	background: #262626;
}


#plugme {
	top: 349px;
	left: 143px;
	width: 188.72px;
	height: 37.54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}

#group_64269 {
	top: 130px;
	left: 979px;
	width: 511.43px;
	height: 63.56px;
}

#group_64266 {
	top: 0px;
	left: 0px;
	width: 241.66px;
	height: 62.37px;
}

#_2729684421556105319_1 {
	top: 2px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}


#vector_ek1 {
	top: 14.39px;
	left: 22.92px;
	width: 15.18px;
	height: 31.32px;
}

#_17998766861556105338_1 {
	top: 2px;
	left: 90px;
	width: 59.79px;
	height: 57.58px;
}

#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}


#vector_ek3 {
	top: 17.27px;
	left: 14.95px;
	width: 28.94px;
	height: 23.03px;
}

#_18265738341599780998_1 {
	top: 0px;
	left: 177px;
	width: 64.77px;
	height: 62.37px;
}

#vector_ek4 {
	top: 0.4px;
	left: 0.45px;
	width: 63.87px;
	height: 61.5px;
}

#group {
	top: 14.71px;
	left: 15.56px;
	width: 33.56px;
	height: 32.31px;
}

#vector_ek5 {
	top: 6px;
	left: 24px;
	width: 3.93px;
	height: 3.79px;
}


#vector_ek6 {
	top: 8px;
	left: 9px;
	width: 16.53px;
	height: 15.92px;
}

#group_ek1 {
	top: 0px;
	left: 0px;
	width: 33.56px;
	height: 32.31px;
}

#vector_ek7 {
	top: 0px;
	left: 0px;
	width: 33.56px;
	height: 32.31px;
}

#group_64267 {
	top: 1px;
	left: 268px;
	width: 64.07px;
	height: 61.88px;
}

#_3944579761556105702_1 {
	top: 0px;
	left: 0px;
	width: 64.07px;
	height: 61.88px;
}

#rectangle_31 {
	top: 12.11px;
	left: 12.48px;
	width: 38.11px;
	height: 38.44px;
	background: rgba(255, 255, 255, 1);
}


#vector_ek8 {
	top: 0px;
	left: 0px;
	width: 64.07px;
	height: 61.88px;
}


#vector_ek9 {
	top: 21.82px;
	left: 21.64px;
	width: 22.09px;
	height: 15.16px;
}

#group_64268 {
	top: 1px;
	left: 358px;
	width: 63.79px;
	height: 61.62px;
}

#_6758899171556105723_1 {
	top: 0px;
	left: 0px;
	width: 63.79px;
	height: 61.62px;
}

#rectangle_31_ek1 {
	top: 17.23px;
	left: 12.59px;
	width: 40.32px;
	height: 31.52px;
	background: rgba(255, 255, 255, 1);
}


#vector_ek10 {
	top: 0px;
	left: 0px;
	width: 63.79px;
	height: 61.62px;
}

#page_1 {
	top: 2px;
	left: 447px;
	width: 64.09px;
	height: 61.91px;
}

#social_icons___squared_black {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#medium {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#square {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#group_ek2 {
	top: 18px;
	left: 15px;
	width: 32.73px;
	height: 26.92px;
}

#fill_1 {
	top: 0px;
	left: 22px;
	width: 10.91px;
	height: 26.82px;
}


#fill_2 {
	top: 0px;
	left: 11px;
	width: 21.77px;
	height: 22.2px;
}


#fill_3 {
	top: 0px;
	left: 1px;
	width: 21.18px;
	height: 21.97px;
}


#fill_4 {
	top: 0px;
	left: 0px;
	width: 10.91px;
	height: 26.79px;
}

#group_64443 {
	top: 595px;
	left: 102px;
	width: 1526.33px;
	height: 43.2px;
}

#line_3 {
	top: 0px;
	left: 0px;
	width: 1526.33px;
	height: 1px;
	background: #232323;
}

#group_77 {
	top: 19px;
	left: 37px;
	width: 155.1px;
	height: 24.03px;
}

#___2022_plugme {
	top: 0px;
	left: -3px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}

#group_64273 {
	top: 19px;
	left: 1185px;
	width: 316.73px;
	height: 24.03px;
}

#privacy_policy {
	top: 0px;
	left: -3px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}


#terms_of_service {
	top: 0px;
	left: 159px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}

#header {
	top: 27px;
	left: 0.63px;
	width: 1728.9px;
	height: 102.1px;
}

#rectangle_2716 {
	top: 0px;
	left: 0px;
	width: 1728.9px;
	height: 102.1px;
}

#group_64122 {
	top: 17px;
	left: 63px;
	width: 1615.66px;
	height: 68.06px;
}

#image_15 {
	top: 9px;
	left: 0px;
	width: 185.09px;
	height: 41.46px;
}

#group_22 {
	top: 7px;
	left: 433px;
	width: 501.54px;
	height: 49.02px;
}

#rectangle_18_ek1 {
	top: 0px;
	left: 0px;
	width: 502.54px;
	height: 50.02px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 0.5px solid #757575;
	background: rgba(255, 255, 255, 0);
}


#search_items__collections__and_accounts {
	top: 14px;
	left: 52px;
	width: 403.73px;
	height: 32.25px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color: #787878;
}

#_3028692271535694869__1__1 {
	top: 16px;
	left: 21px;
	width: 20.68px;
	height: 19px;
}

#group_ek3 {
	top: 0.96px;
	left: 1.04px;
	width: 18.58px;
	height: 17.07px;
}

#vector_ek11 {
	top: 0px;
	left: 0px;
	width: 18.58px;
	height: 17.07px;
}

#group_64110 {
	top: 0px;
	left: 1142px;
	width: 473.88px;
	height: 68.06px;
}

#group_64092 {
	top: 9px;
	left: 221px;
	width: 53.01px;
	height: 53.01px;
}

#ellipse_14 {
	top: 0px;
	left: 0px;
	width: 53.01px;
	height: 53.01px;
	-ms-border-radius: 26.5px / 26.5px;
	-o-border-radius: 26.5px / 26.5px;
	-moz-border-radius: 26.5px / 26.5px;
	-webkit-border-radius: 26.5px / 26.5px;
	border-radius: 26.5px / 26.5px;
	background: rgba(247, 209, 12, 1);
}

#_8563601801543238914_1 {
	top: 11px;
	left: 11px;
	width: 32.17px;
	height: 32.17px;
}

#vector_ek12 {
	top: 6.7px;
	left: 16.09px;
	width: 0px;
	height: 18.77px;
}


#vector_ek13 {
	top: 16.09px;
	left: 6.7px;
	width: 18.77px;
	height: 0px;
}


#image_16 {
	top: 9px;
	left: 0px;
	width: 52.58px;
	height: 52.58px;
}


#image_17 {
	top: 9px;
	left: 36px;
	width: 57.43px;
	height: 57.43px;
}


#image_18 {
	top: 9px;
	left: 74px;
	width: 57.43px;
	height: 57.43px;
}


#image_19 {
	top: 9px;
	left: 112px;
	width: 57.43px;
	height: 57.43px;
}


#image_20 {
	top: 9px;
	left: 150px;
	width: 63.43px;
	height: 63.43px;
	-ms-border-radius: 360px;
	-o-border-radius: 360px;
	-moz-border-radius: 360px;
	-webkit-border-radius: 360px;
	border-radius: 360px;
	border: 3px solid #ffffff;
	background: rgba(12, 170, 220, 1);
}


#__6 {
	top: 25px;
	left: 165px;
	width: 55.89px;
	height: 37.97px;
	overflow: hidden;
	font-family: poppins;
	font-size: 22px;
	text-align: left;
	line-height: 29.370000839233px;
	color: #FFFFFF;
}

#group_64093 {
	top: 0px;
	left: 368px;
	width: 105.64px;
	height: 68.06px;
}

#rectangle_2710 {
	top: 0px;
	left: 0px;
	width: 105.64px;
	height: 68.06px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-ms-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	background: rgba(255, 255, 255, 1);
}

#group_16 {
	top: 5px;
	left: 10px;
	width: 56.93px;
	height: 56.93px;
}

#ellipse_2 {
	top: 0px;
	left: 0px;
	width: 56.93px;
	height: 56.93px;
	-ms-border-radius: 28.46px / 28.46px;
	-o-border-radius: 28.46px / 28.46px;
	-moz-border-radius: 28.46px / 28.46px;
	-webkit-border-radius: 28.46px / 28.46px;
	border-radius: 28.46px / 28.46px;
	background: rgba(12, 170, 220, 1);
}


#ellipse_1 {
	top: 2px;
	left: 2px;
	width: 52.69px;
	height: 52.69px;
}


#vector_12 {
	top: 32px;
	left: 81px;
	width: 14.83px;
	height: 11.28px;
}

#layer_32 {
	top: 13px;
	left: 304px;
	width: 29.38px;
	height: 37.53px;
}

#vector_ek14 {
	top: 8px;
	left: 0px;
	width: 25.81px;
	height: 24.8px;
}


#vector_ek15 {
	top: 31px;
	left: 8px;
	width: 9.5px;
	height: 6.47px;
}


#vector_ek16 {
	top: 5px;
	left: 12px;
	width: 2.15px;
	height: 5.39px;
}


#vector_ek17 {
	top: 0px;
	left: 21px;
	width: 8.64px;
	height: 8.64px;
}

#body {
	top: 128.72px;
	left: 0px;
	width: 1733.26px;
	height: 1545.91px;
}

#rectangle_2715 {
	top: 0px;
	left: 0px;
	width: 1733.26px;
	height: 1545.91px;
}


#rectangle_2719 {
	top: 972px;
	left: 74px;
	width: 1137.48px;
	height: 528.22px;
}

#group_64108 {
	top: 42px;
	left: 100px;
	width: 1079.64px;
	height: 594.42px;
}

#rectangle_2717 {
	top: 0px;
	left: 0px;
	width: 1079.37px;
	height: 594.4px;
}


#rectangle_2718 {
	opacity: 0.75999999046326;
	top: 507px;
	left: 0px;
	width: 1079.56px;
	height: 87.61px;
	background: rgba(8.5, 8.5, 8.5, 0.76);
}

#group_64107 {
	top: 541px;
	left: 33px;
	width: 1012.88px;
	height: 30px;
}

#group_64105 {
	top: 5px;
	left: 0px;
	width: 12.71px;
	height: 22px;
}

#rectangle_2719_ek1 {
	top: 0px;
	left: 0px;
	width: 4.89px;
	height: 22px;
	background: rgba(255, 255, 255, 1);
}


#rectangle_2720 {
	top: 0px;
	left: 8px;
	width: 4.89px;
	height: 22px;
	background: rgba(255, 255, 255, 1);
}


#rectangle_2721 {
	top: 5px;
	left: 40px;
	width: 20.78px;
	height: 22px;
	background: rgba(255, 255, 255, 1);
}


#_00_03_48 {
	top: 6px;
	left: 79px;
	width: 108.03px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #FFFFFF;
}


#_00_09_48 {
	top: 7px;
	left: 755px;
	width: 108.03px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #FFFFFF;
}

#group_64104 {
	top: 14px;
	left: 156px;
	width: 582.63px;
	height: 4.51px;
}

#rectangle_2722 {
	top: 0px;
	left: 0px;
	width: 582.63px;
	height: 4.51px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(217, 217, 217, 1);
}


#rectangle_2723 {
	top: 0px;
	left: 0px;
	width: 249.14px;
	height: 4.51px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(242, 155, 31, 1);
}

#group_64106 {
	top: 14px;
	left: 873px;
	width: 82.65px;
	height: 4.51px;
}

#rectangle_2722_ek1 {
	top: 0px;
	left: 0px;
	width: 82.65px;
	height: 4.51px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(217, 217, 217, 1);
}


#rectangle_2723_ek1 {
	top: 0px;
	left: 0px;
	width: 50.55px;
	height: 4.51px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(242, 155, 31, 1);
}

#_8837345791594941683_1 {
	top: 2px;
	left: 839px;
	width: 27px;
	height: 27px;
}

#group_ek4 {
	top: 2.35px;
	left: 1.69px;
	width: 23.63px;
	height: 22.37px;
}

#vector_ek18 {
	top: 0px;
	left: 0px;
	width: 16.03px;
	height: 22.37px;
}


#vector_ek19 {
	top: 5px;
	left: 20px;
	width: 3.88px;
	height: 11.81px;
}


#vector_ek20 {
	top: 8px;
	left: 18px;
	width: 2.66px;
	height: 6.15px;
}

#_5751300911582806005_1 {
	top: 0px;
	left: 983px;
	width: 30px;
	height: 30px;
}

#vector_ek21 {
	top: 1.25px;
	left: 1.25px;
	width: 27.5px;
	height: 27.5px;
}


#rectangle_2717_ek1 {
	top: 43px;
	left: 1311px;
	width: 390.7px;
	height: 655.35px;
}


#rectangle_2718_ek1 {
	top: 764px;
	left: 1311px;
	width: 390.7px;
	height: 696.39px;
}


#dance_hall___hip_hop_mix {
	top: 662px;
	left: 99px;
	width: 655.6px;
	height: 34.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #3B3B3B;
}


#_44_comments {
	top: 1011px;
	left: 121px;
	width: 655.6px;
	height: 34.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #3B3B3B;
}


#collaborators {
	top: 774px;
	left: 652px;
	width: 175.98px;
	height: 34.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #3B3B3B;
}


#connect_to_the_collaborators_profile {
	top: 893px;
	left: 652px;
	width: 284.72px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}


#show_more {
	top: 905px;
	left: 103px;
	width: 135.95px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #9A9A9A;
}


#show_more_comments {
	top: 1268px;
	left: 539px;
	width: 217px;
	height: 31.76px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 18.690000534058px;
	letter-spacing: 0.28px;
	color: #9A9A9A;
}

#_19299514501540882611_1 {
	top: 1265px;
	left: 739px;
	width: 26px;
	height: 26px;
}

#expand_more {
	top: 8.93px;
	left: 4.87px;
	width: 16.26px;
	height: 8.96px;
}


#calm_your_anxiety____lofi_hip_hop_mix___study_beats___relaxing_music___https___youtu_be_lod9ke7gasy_calm_your_anxiety____lofi_hip_hop_mix___study_beats___relaxing_music__ {
	top: 771px;
	left: 103px;
	width: 495.01px;
	height: 143.53px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #3B3B3B;
}


#_11_5653_views___premiered_apr_1__2022 {
	top: 706px;
	left: 99px;
	width: 655.6px;
	height: 34.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #3B3B3B;
}

#group_64117 {
	top: 709px;
	left: 646px;
	width: 548.19px;
	height: 23.49px;
}

#group_64113 {
	top: 2px;
	left: 0px;
	width: 65.52px;
	height: 21.76px;
}

#vector_ek22 {
	top: 1px;
	left: 0px;
	width: 18.81px;
	height: 16.41px;
}


#like {
	top: 0px;
	left: 28px;
	width: 58.2px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}

#group_64112 {
	top: 0px;
	left: 84px;
	width: 113.93px;
	height: 23.01px;
}

#vector_ek23 {
	top: -20px;
	left: -0px;
	width: 19.77px;
	height: 19.77px;
}


#comment {
	top: 1px;
	left: 32px;
	width: 102.64px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}

#group_64115 {
	top: 0px;
	left: 217px;
	width: 124.48px;
	height: 23.49px;
}

#_1370992991530513412_128_1 {
	top: 0px;
	left: 0px;
	width: 20.69px;
	height: 20.69px;
}


#collaborate {
	top: 2px;
	left: 31px;
	width: 114.58px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}

#group_64114 {
	top: 1px;
	left: 361px;
	width: 77.73px;
	height: 22.67px;
}

#group_1 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_2 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek5 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek6 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek24 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek25 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek26 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#follow {
	top: 1px;
	left: 22px;
	width: 76.87px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}

#group_64116 {
	top: 2px;
	left: 462px;
	width: 85.77px;
	height: 21.76px;
}

#group_5 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_3 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek27 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}


#report {
	top: 0px;
	left: 25px;
	width: 82.13px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}


#line_55 {
	top: 741px;
	left: 103px;
	width: 1081.84px;
	height: 0px;
}


#line_56 {
	top: 955px;
	left: 103px;
	width: 1081.84px;
	height: 0px;
}


#line_57 {
	top: 1116px;
	left: 181px;
	width: 982.51px;
	height: 0px;
}

#group_64118 {
	top: 805px;
	left: 653px;
	width: 289.16px;
	height: 69.28px;
}

#image_22 {
	top: 0px;
	left: 0px;
	width: 69.28px;
	height: 69.28px;
}


#image_23 {
	top: 0px;
	left: 74px;
	width: 69.28px;
	height: 69.28px;
}


#image_24 {
	top: 0px;
	left: 147px;
	width: 69.28px;
	height: 69.28px;
}


#image_25 {
	top: 0px;
	left: 220px;
	width: 69.28px;
	height: 69.28px;
}

#group_64119 {
	top: 1016px;
	left: 1048px;
	width: 107.52px;
	height: 21.76px;
}

#sort_by {
	top: 0px;
	left: 26px;
	width: 102.75px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}

#_1470039561556277129_1 {
	top: 3px;
	left: 0px;
	width: 18px;
	height: 12px;
}

#icons {
	top: -6px;
	left: -3px;
	width: 24px;
	height: 24px;
}

#rounded {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#content {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#__round___content___sort {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#group_ek7 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#path {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}


#___icon_color {
	top: 6px;
	left: 3px;
	width: 18px;
	height: 12px;
}


#add_a_comment____ {
	top: 1089px;
	left: 184px;
	width: 265.47px;
	height: 34.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #3B3B3B;
}

#group_64120 {
	top: 1175px;
	left: 116px;
	width: 984.29px;
	height: 52.79px;
}

#image_17_ek1 {
	top: 0px;
	left: 0px;
	width: 52.42px;
	height: 52.42px;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua_ {
	top: 31px;
	left: 62px;
	width: 943.02px;
	height: 32.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #3B3B3B;
}


#lofi_baby___1_day_ago {
	top: 7px;
	left: 63px;
	width: 261.47px;
	height: 31.76px;
	overflow: hidden;
	font-family: poppins;
	font-size: 14px;
	text-align: left;
	line-height: 18.690000534058px;
	color: #3B3B3B;
}


#image_21 {
	top: 1087px;
	left: 116px;
	width: 52.58px;
	height: 52.58px;
}

#group_64122_ek1 {
	top: 324px;
	left: 1206px;
	width: 63.6px;
	height: 63.6px;
}

#ellipse_15 {
	top: 0px;
	left: 0px;
	width: 63.6px;
	height: 63.6px;
	-ms-border-radius: 31.8px / 31.8px;
	-o-border-radius: 31.8px / 31.8px;
	-moz-border-radius: 31.8px / 31.8px;
	-webkit-border-radius: 31.8px / 31.8px;
	border-radius: 31.8px / 31.8px;
	background: rgba(255, 255, 255, 1);
}


#vector_13 {
	top: 24px;
	left: 25px;
	width: 20.74px;
	height: 15.78px;
}

#group_64125 {
	top: 260px;
	left: 22px;
	width: 63.6px;
	height: 63.6px;
}

#ellipse_15_ek1 {
	top: 0px;
	left: 0px;
	width: 63.6px;
	height: 63.6px;
	-ms-border-radius: 31.8px / 31.8px;
	-o-border-radius: 31.8px / 31.8px;
	-moz-border-radius: 31.8px / 31.8px;
	-webkit-border-radius: 31.8px / 31.8px;
	border-radius: 31.8px / 31.8px;

	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	background: rgba(255, 255, 255, 1);
}


#vector_13_ek1 {
	top: 88px;
	left: 33px;
	width: 20.74px;
	height: 15.78px;
}



/* Add your custom CSS here */