/*
	@name page_18__profile_page_
*/
/* Only edit this if you know what you are doing! */
body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	overflow-x: hidden;
}

/* Only edit this if you know what you are doing! */
img {
	position: absolute;
	display: block;
	margin: 0px;
	border: none;
	padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
	position: absolute;
}

#content-container {
	display: block;
	position: relative;
	width: 1768px;
	width: 1768px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content-container>div {
	position: relative;
	top: inherit;
}

#page_page_18__profile_page__ek1 {
	top: 0px;
	left: 0px;
	width: 1768px;
	height: 2234px;
}

#_bg__page_18__profile_page__ek2 {
	top: 0px;
	left: 0px;
	width: 1768px;
	height: 2234px;
	background: rgba(255, 255, 255, 1);
}

#footer {
	top: 1561.35px;
	left: 36.08px;
	width: 1731.8px;
	height: 664.31px;
}

#group_64363 {
	top: 0px;
	left: 0px;
	width: 1731.8px;
	height: 664.31px;
}

#rectangle_33 {
	top: 0px;
	left: 0px;
	width: 1731.8px;
	height: 664.31px;
	background: rgba(249.69, 249.69, 249.69, 1);
}


#stay_in_the_loop {
	top: 76px;
	left: 137px;
	width: 403.76px;
	height: 75.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#join_the_community {
	top: 76px;
	left: 987px;
	width: 403.76px;
	height: 75.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#join_our_mailing_list_to_stay_in_the_loop_with_our_newest_feature_releases__tips_and_tricks_for_navigating_plugme_ {
	top: 120px;
	left: 137px;
	width: 590.89px;
	height: 69.41px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	color: #262626;
}

#group_64271 {
	top: 345px;
	left: 1214px;
	width: 153.75px;
	height: 184.93px;
}

#resources {
	top: 0px;
	left: 0px;
	width: 182.61px;
	height: 52.5px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}


#help_center {
	top: 62px;
	left: 0px;
	width: 158.19px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#blog {
	top: 108px;
	left: 0px;
	width: 133.72px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#newsletter {
	top: 158px;
	left: 0px;
	width: 133.72px;
	height: 40.26px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color: #262626;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua__ut_enim_ad_minim_veniam__quis_nostrud_exercitation_ullamco_laboris_nisi_ut_aliquip_ex_ea_commodo_consequat_ {
	top: 391px;
	left: 146px;
	width: 590.89px;
	height: 183.66px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	color: #262626;
}

#group_84 {
	top: 190px;
	left: 136px;
	width: 564.12px;
	height: 49.02px;
}

#group_82 {
	top: 0px;
	left: 0px;
	width: 399.41px;
	height: 49.02px;
}

#rectangle_18 {
	top: 0px;
	left: 0px;
	width: 389.44px;
	height: 49.02px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 1);
}


#your_email_address {
	top: 14px;
	left: 17px;
	width: 403.73px;
	height: 32.25px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color: #7F7F7F;
}

#group_83 {
	top: 0px;
	left: 403px;
	width: 160.76px;
	height: 48.36px;
}

#rectangle_4 {
	top: 0px;
	left: 0px;
	width: 162.76px;
	height: 50.36px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ffffff;
	background: rgba(237, 8, 142, 1);
}


#create {
	top: 14px;
	left: 42px;
	width: 82px;
	height: 35.86px;
	overflow: hidden;

	-ms-transform: rotate(-0.22deg);
	-o-transform: rotate(-0.22deg);
	-webkit-transform: rotate(-0.22deg);
	-moz-transform: rotate(-0.22deg);
	transform: rotate(-0.22deg);
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}


#line_2 {
	top: 297px;
	left: 114px;
	width: 1526.33px;
	height: 1px;
	background: #262626;
}


#plugme {
	top: 349px;
	left: 143px;
	width: 188.72px;
	height: 37.54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #262626;
}

#group_64269 {
	top: 130px;
	left: 979px;
	width: 511.43px;
	height: 63.56px;
}

#group_64266 {
	top: 0px;
	left: 0px;
	width: 241.66px;
	height: 62.37px;
}

#_2729684421556105319_1 {
	top: 2px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}


#vector_ek1 {
	top: 14.39px;
	left: 22.92px;
	width: 15.18px;
	height: 31.32px;
}

#_17998766861556105338_1 {
	top: 2px;
	left: 90px;
	width: 59.79px;
	height: 57.58px;
}

#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 59.79px;
	height: 57.58px;
}


#vector_ek3 {
	top: 17.27px;
	left: 14.95px;
	width: 28.94px;
	height: 23.03px;
}

#_18265738341599780998_1 {
	top: 0px;
	left: 177px;
	width: 64.77px;
	height: 62.37px;
}

#vector_ek4 {
	top: 0.4px;
	left: 0.45px;
	width: 63.87px;
	height: 61.5px;
}

#group {
	top: 14.71px;
	left: 15.56px;
	width: 33.56px;
	height: 32.31px;
}

#vector_ek5 {
	top: 6px;
	left: 24px;
	width: 3.93px;
	height: 3.79px;
}


#vector_ek6 {
	top: 8px;
	left: 9px;
	width: 16.53px;
	height: 15.92px;
}

#group_ek1 {
	top: 0px;
	left: 0px;
	width: 33.56px;
	height: 32.31px;
}

#vector_ek7 {
	top: 0px;
	left: 0px;
	width: 33.56px;
	height: 32.31px;
}

#group_64267 {
	top: 1px;
	left: 268px;
	width: 64.07px;
	height: 61.88px;
}

#_3944579761556105702_1 {
	top: 0px;
	left: 0px;
	width: 64.07px;
	height: 61.88px;
}

#rectangle_31 {
	top: 12.11px;
	left: 12.48px;
	width: 38.11px;
	height: 38.44px;
	background: rgba(255, 255, 255, 1);
}


#vector_ek8 {
	top: 0px;
	left: 0px;
	width: 64.07px;
	height: 61.88px;
}


#vector_ek9 {
	top: 21.82px;
	left: 21.64px;
	width: 22.09px;
	height: 15.16px;
}

#group_64268 {
	top: 1px;
	left: 358px;
	width: 63.79px;
	height: 61.62px;
}

#_6758899171556105723_1 {
	top: 0px;
	left: 0px;
	width: 63.79px;
	height: 61.62px;
}

#rectangle_31_ek1 {
	top: 17.23px;
	left: 12.59px;
	width: 40.32px;
	height: 31.52px;
	background: rgba(255, 255, 255, 1);
}


#vector_ek10 {
	top: 0px;
	left: 0px;
	width: 63.79px;
	height: 61.62px;
}

#page_1 {
	top: 2px;
	left: 447px;
	width: 64.09px;
	height: 61.91px;
}

#social_icons___squared_black {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#medium {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#square {
	top: 0px;
	left: 0px;
	width: 64.09px;
	height: 61.91px;
}

#group_ek2 {
	top: 18px;
	left: 15px;
	width: 32.73px;
	height: 26.92px;
}

#fill_1 {
	top: 0px;
	left: 22px;
	width: 10.91px;
	height: 26.82px;
}


#fill_2 {
	top: 0px;
	left: 11px;
	width: 21.77px;
	height: 22.2px;
}


#fill_3 {
	top: 0px;
	left: 1px;
	width: 21.18px;
	height: 21.97px;
}


#fill_4 {
	top: 0px;
	left: 0px;
	width: 10.91px;
	height: 26.79px;
}

#group_64443 {
	top: 595px;
	left: 102px;
	width: 1526.33px;
	height: 43.2px;
}

#line_3 {
	top: 0px;
	left: 0px;
	width: 1526.33px;
	height: 1px;
	background: #232323;
}

#group_77 {
	top: 19px;
	left: 37px;
	width: 155.1px;
	height: 24.03px;
}

#___2022_plugme {
	top: 0px;
	left: -3px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}

#group_64273 {
	top: 19px;
	left: 1185px;
	width: 316.73px;
	height: 24.03px;
}

#privacy_policy {
	top: 0px;
	left: -3px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}


#terms_of_service {
	top: 0px;
	left: 159px;
	width: 168.08600101471px;
	height: 35.016001014709px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15.97px;
	font-weight: bold;
	text-align: center;
	color: #232323;
}

#header {
	top: 16.73px;
	left: 89.85px;
	width: 1615.66px;
	height: 68.06px;
}

#image_15 {
	top: 9px;
	left: 0px;
	width: 185.09px;
	height: 41.46px;
}

#group_22 {
	top: 7px;
	left: 433px;
	width: 501.54px;
	height: 49.02px;
}

#rectangle_18_ek1 {
	top: 0px;
	left: 0px;
	width: 502.54px;
	height: 50.02px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 0.5px solid #757575;
	background: rgba(255, 255, 255, 0);
}


#search_items__collections__and_accounts {
	top: 14px;
	left: 52px;
	width: 403.73px;
	height: 32.25px;
	overflow: hidden;

	-ms-transform: rotate(-0.21deg);
	-o-transform: rotate(-0.21deg);
	-webkit-transform: rotate(-0.21deg);
	-moz-transform: rotate(-0.21deg);
	transform: rotate(-0.21deg);
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color: #787878;
}

#_3028692271535694869__1__1 {
	top: 16px;
	left: 21px;
	width: 20.68px;
	height: 19px;
}

#group_ek3 {
	top: 0.96px;
	left: 1.04px;
	width: 18.58px;
	height: 17.07px;
}

#vector_ek11 {
	top: 0px;
	left: 0px;
	width: 18.58px;
	height: 17.07px;
}

#group_64110 {
	top: 0px;
	left: 1142px;
	width: 473.89px;
	height: 68.06px;
}

#group_64092 {
	top: 9px;
	left: 221px;
	width: 53.01px;
	height: 53.01px;
}

#ellipse_14 {
	top: 0px;
	left: 0px;
	width: 53.01px;
	height: 53.01px;
	-ms-border-radius: 26.5px / 26.5px;
	-o-border-radius: 26.5px / 26.5px;
	-moz-border-radius: 26.5px / 26.5px;
	-webkit-border-radius: 26.5px / 26.5px;
	border-radius: 26.5px / 26.5px;
	background: rgba(247, 209, 12, 1);
}

#_8563601801543238914_1 {
	top: 11px;
	left: 11px;
	width: 32.17px;
	height: 32.17px;
}

#vector_ek12 {
	top: 6.7px;
	left: 16.09px;
	width: 0px;
	height: 18.77px;
}


#vector_ek13 {
	top: 16.09px;
	left: 6.7px;
	width: 18.77px;
	height: 0px;
}


#image_16 {
	top: 9px;
	left: 0px;
	width: 52.58px;
	height: 52.58px;
}


#image_17 {
	top: 9px;
	left: 36px;
	width: 57.43px;
	height: 57.43px;
}


#image_18 {
	top: 9px;
	left: 74px;
	width: 57.43px;
	height: 57.43px;
}


#image_19 {
	top: 9px;
	left: 112px;
	width: 57.43px;
	height: 57.43px;
}


#image_20 {
	top: 9px;
	left: 150px;
	width: 63.43px;
	height: 63.43px;
	-ms-border-radius: 360px;
	-o-border-radius: 360px;
	-moz-border-radius: 360px;
	-webkit-border-radius: 360px;
	border-radius: 360px;
	border: 3px solid #ffffff;
	background: rgba(12, 170, 220, 1);
}


#__6 {
	top: 25px;
	left: 165px;
	width: 55.89px;
	height: 37.97px;
	overflow: hidden;
	font-family: poppins;
	font-size: 22px;
	text-align: left;
	line-height: 29.370000839233px;
	color: #FFFFFF;
}

#group_64093 {
	top: 0px;
	left: 368px;
	width: 105.64px;
	height: 68.06px;
}

#rectangle_2710 {
	top: 0px;
	left: 0px;
	width: 105.64px;
	height: 68.06px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-ms-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.07);
	background: rgba(255, 255, 255, 1);
}

#group_16 {
	top: 5px;
	left: 10px;
	width: 56.93px;
	height: 56.93px;
}

#ellipse_2 {
	top: 0px;
	left: 0px;
	width: 56.93px;
	height: 56.93px;
	-ms-border-radius: 28.46px / 28.46px;
	-o-border-radius: 28.46px / 28.46px;
	-moz-border-radius: 28.46px / 28.46px;
	-webkit-border-radius: 28.46px / 28.46px;
	border-radius: 28.46px / 28.46px;
	background: rgba(12, 170, 220, 1);
}


#ellipse_1 {
	top: 2px;
	left: 2px;
	width: 52.69px;
	height: 52.69px;
}


#vector_12 {
	top: 32px;
	left: 81px;
	width: 14.83px;
	height: 11.28px;
}

#layer_32 {
	top: 13px;
	left: 304px;
	width: 29.38px;
	height: 37.53px;
}

#vector_ek14 {
	top: 8px;
	left: 0px;
	width: 25.81px;
	height: 24.8px;
}


#vector_ek15 {
	top: 31px;
	left: 8px;
	width: 9.5px;
	height: 6.47px;
}


#vector_ek16 {
	top: 5px;
	left: 12px;
	width: 2.15px;
	height: 5.39px;
}


#vector_ek17 {
	top: 0px;
	left: 21px;
	width: 8.64px;
	height: 8.64px;
}

#body {
	top: 105.63px;
	left: 46.09px;
	width: 1674.96px;
	height: 1374.63px;
}

#group_64108 {
	top: 50px;
	left: 515px;
	width: 856.03px;
	height: 471.31px;
}

#rectangle_2717 {
	top: 0px;
	left: 0px;
	width: 855.81px;
	height: 471.29px;
}


#rectangle_2718 {
	opacity: 0.75999999046326;
	top: 402px;
	left: 0px;
	width: 855.97px;
	height: 69.47px;
	background: rgba(8.5, 8.5, 8.5, 0.76);
}

#group_64107 {
	top: 429px;
	left: 26px;
	width: 803.1px;
	height: 23.79px;
}

#group_64105 {
	top: 4px;
	left: 0px;
	width: 10.08px;
	height: 17.45px;
}

#rectangle_2719 {
	top: 0px;
	left: 0px;
	width: 3.88px;
	height: 17.45px;
	background: rgba(255, 255, 255, 1);
}


#rectangle_2720 {
	top: 0px;
	left: 6px;
	width: 3.88px;
	height: 17.45px;
	background: rgba(255, 255, 255, 1);
}


#rectangle_2721 {
	top: 4px;
	left: 32px;
	width: 16.48px;
	height: 17.45px;
	background: rgba(255, 255, 255, 1);
}


#_00_03_48 {
	top: 5px;
	left: 63px;
	width: 90.01px;
	height: 28.25px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #FFFFFF;
}


#_00_09_48 {
	top: 5px;
	left: 599px;
	width: 90.01px;
	height: 28.25px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #FFFFFF;
}

#group_64104 {
	top: 11px;
	left: 124px;
	width: 461.96px;
	height: 3.58px;
}

#rectangle_2722 {
	top: 0px;
	left: 0px;
	width: 461.96px;
	height: 3.58px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(217, 217, 217, 1);
}


#rectangle_2723 {
	top: 0px;
	left: 0px;
	width: 197.54px;
	height: 3.58px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(242, 155, 31, 1);
}

#group_64106 {
	top: 11px;
	left: 692px;
	width: 65.53px;
	height: 3.58px;
}

#rectangle_2722_ek1 {
	top: 0px;
	left: 0px;
	width: 65.53px;
	height: 3.58px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(217, 217, 217, 1);
}


#rectangle_2723_ek1 {
	top: 0px;
	left: 0px;
	width: 40.08px;
	height: 3.58px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background: rgba(242, 155, 31, 1);
}

#_8837345791594941683_1 {
	top: 2px;
	left: 665px;
	width: 21.41px;
	height: 21.41px;
}

#group_ek4 {
	top: 1.87px;
	left: 1.34px;
	width: 18.73px;
	height: 17.73px;
}

#vector_ek18 {
	top: 0px;
	left: 0px;
	width: 12.71px;
	height: 17.73px;
}


#vector_ek19 {
	top: 4px;
	left: 16px;
	width: 3.08px;
	height: 9.37px;
}


#vector_ek20 {
	top: 6px;
	left: 14px;
	width: 2.11px;
	height: 4.88px;
}

#_5751300911582806005_1 {
	top: 0px;
	left: 779px;
	width: 23.79px;
	height: 23.79px;
}

#vector_ek21 {
	top: 0.99px;
	left: 0.99px;
	width: 21.8px;
	height: 21.8px;
}


#rectangle_2717_ek1 {
	top: 42px;
	left: 1460px;
	width: 214.66px;
	height: 616.43px;
}


#rectangle_2718_ek1 {
	top: 720px;
	left: 1460px;
	width: 214.66px;
	height: 655.05px;
}


#rectangle_2716 {
	top: 0px;
	left: 0px;
	width: 445.78px;
	height: 995.88px;
}

#_19299514501540882611_1 {
	top: 1261px;
	left: 732px;
	width: 26px;
	height: 26px;
}

#expand_more {
	top: 8.93px;
	left: 4.87px;
	width: 16.26px;
	height: 8.96px;
}


#rectangle_2749 {
	top: 331px;
	left: 46px;
	width: 92.68px;
	height: 43.03px;
}


#rectangle_2750 {
	top: 331px;
	left: 152px;
	width: 133.61px;
	height: 43.03px;
}


#rectangle_2751 {
	top: 331px;
	left: 297px;
	width: 105.44px;
	height: 43.03px;
}

#group_64122 {
	top: 273px;
	left: 1392px;
	width: 50.43px;
	height: 50.43px;
}

#ellipse_15 {
	top: 0px;
	left: 0px;
	width: 50.43px;
	height: 50.43px;
	-ms-border-radius: 25.22px / 25.22px;
	-o-border-radius: 25.22px / 25.22px;
	-moz-border-radius: 25.22px / 25.22px;
	-webkit-border-radius: 25.22px / 25.22px;
	border-radius: 25.22px / 25.22px;
	background: rgba(255, 255, 255, 1);
}


#vector_13 {
	top: 19px;
	left: 20px;
	width: 16.44px;
	height: 12.51px;
}

#group_64125 {
	top: 222px;
	left: 453px;
	width: 50.43px;
	height: 50.43px;
}

#ellipse_15_ek1 {
	top: 0px;
	left: 0px;
	width: 50.43px;
	height: 50.43px;
	-ms-border-radius: 25.22px / 25.22px;
	-o-border-radius: 25.22px / 25.22px;
	-moz-border-radius: 25.22px / 25.22px;
	-webkit-border-radius: 25.22px / 25.22px;
	border-radius: 25.22px / 25.22px;

	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	background: rgba(255, 255, 255, 1);
}


#vector_13_ek1 {
	top: 70px;
	left: 27px;
	width: 16.44px;
	height: 12.51px;
}


#image_21 {
	top: 35px;
	left: 119px;
	width: 211.86px;
	height: 227.46px;
}


#benjamin_hardman {
	top: 283px;
	left: 105px;
	width: 254px;
	height: 42.62px;
	overflow: hidden;
	font-family: poppins;
	font-size: 24px;
	text-align: center;
	line-height: 32.040000915527px;
	color: #000000;
}

#group_64416 {
	top: 423px;
	left: 26px;
	width: 92.68px;
	height: 71.93px;
}

#rectangle_2748 {
	top: 0px;
	left: 0px;
	width: 92.68px;
	height: 71.93px;
}


#_46 {
	top: 16px;
	left: 26px;
	width: 49px;
	height: 32.18px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: center;
	line-height: 24.030000686646px;
	color: #00ABE2;
}


#plugs {
	top: 39px;
	left: 21px;
	width: 57px;
	height: 24.07px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: center;
	line-height: 16.020000457764px;
	color: #0088B3;
}

#group_64417 {
	top: 423px;
	left: 125px;
	width: 92.68px;
	height: 71.93px;
}

#rectangle_2748_ek1 {
	top: 0px;
	left: 0px;
	width: 92.68px;
	height: 71.93px;
}


#_45 {
	top: 16px;
	left: 27px;
	width: 49px;
	height: 32.18px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: center;
	line-height: 24.030000686646px;
	color: #ED088E;
}


#collaborations {
	top: 43px;
	left: 3px;
	width: 98px;
	height: 24.07px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: center;
	line-height: 16.020000457764px;
	color: #ED088E;
}

#group_64418 {
	top: 423px;
	left: 223px;
	width: 92.68px;
	height: 71.93px;
}

#rectangle_2748_ek2 {
	top: 0px;
	left: 0px;
	width: 92.68px;
	height: 71.93px;
}


#_2_8k {
	top: 16px;
	left: 25px;
	width: 54px;
	height: 32.18px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: center;
	line-height: 24.030000686646px;
	color: #EF8C00;
}


#followers {
	top: 43px;
	left: 3px;
	width: 98px;
	height: 24.07px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: center;
	line-height: 16.020000457764px;
	color: #EF8C00;
}

#group_64419 {
	top: 423px;
	left: 320px;
	width: 92.68px;
	height: 71.93px;
}

#rectangle_2748_ek3 {
	top: 0px;
	left: 0px;
	width: 92.68px;
	height: 71.93px;
}


#_526 {
	top: 16px;
	left: 25px;
	width: 54px;
	height: 32.18px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: center;
	line-height: 24.030000686646px;
	color: #59B51D;
}


#following {
	top: 43px;
	left: 3px;
	width: 98px;
	height: 24.07px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: center;
	line-height: 16.020000457764px;
	color: #59B51D;
}


#line_66 {
	top: 510px;
	left: 18px;
	width: 402.97px;
	height: 0.5px;
	background: #808080;
}


#line_67 {
	top: 408px;
	left: 18px;
	width: 402.97px;
	height: 0.5px;
	background: #808080;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua__ut_enim_ad_minim_veniam_____read_more {
	top: 523px;
	left: 36px;
	width: 396.94px;
	height: 265.18px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #2A2A2A;
}

#group_64420 {
	top: 665px;
	left: 41px;
	width: 202px;
	height: 50.07px;
}

#based_in_iceland {
	top: 30px;
	left: 0px;
	width: 199.36px;
	height: 32.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #000000;
}


#location {
	top: 0px;
	left: 0px;
	width: 225px;
	height: 51px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #000000;
}

#group_64421 {
	top: 665px;
	left: 254px;
	width: 202px;
	height: 50.07px;
}

#photographer {
	top: 30px;
	left: 0px;
	width: 199.36px;
	height: 32.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #000000;
}


#profession {
	top: 0px;
	left: 0px;
	width: 225px;
	height: 51px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #000000;
}

#group_64423 {
	top: 901px;
	left: 37px;
	width: 218.66px;
	height: 50.07px;
}

#www_bengardman_co_uk {
	top: 30px;
	left: 0px;
	width: 241.66px;
	height: 32.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #0078DE;
}


#website {
	top: 0px;
	left: 0px;
	width: 225px;
	height: 51px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #000000;
}

#group_64422 {
	top: 746px;
	left: 36px;
	width: 293.68px;
	height: 134.02px;
}

#social_networking___40 {
	top: 38px;
	left: 0px;
	width: 228.1px;
	height: 30.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#micheal_oydo_has_given_an_endorsement {
	top: 62px;
	left: 0px;
	width: 281.13px;
	height: 27.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #0074D6;
}


#social_media_marketing___33 {
	top: 87px;
	left: 0px;
	width: 228.1px;
	height: 30.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 16px;
	text-align: left;
	line-height: 21.360000610352px;
	color: #000000;
}


#jessica_has_given_an_endorsement {
	top: 114px;
	left: 30px;
	width: 281.13px;
	height: 27.9px;
	overflow: hidden;
	font-family: poppins;
	font-size: 12px;
	text-align: left;
	line-height: 16.020000457764px;
	color: #0074D6;
}


#skills {
	top: 0px;
	left: 0px;
	width: 225px;
	height: 51px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18px;
	text-align: left;
	line-height: 24.030000686646px;
	color: #000000;
}


#image_21_ek1 {
	top: 856px;
	left: 37px;
	width: 20.8px;
	height: 20.8px;
}

#group_64424 {
	top: 339px;
	left: 59px;
	width: 354.29px;
	height: 26.4px;
}

#group_64398 {
	top: 1px;
	left: 0px;
	width: 18.85px;
	height: 22.24px;
}

#vector_ek22 {
	top: 0px;
	left: 0px;
	width: 14.22px;
	height: 22.24px;
}

#group_64397 {
	top: 12px;
	left: 9px;
	width: 9.36px;
	height: 9.36px;
}

#vector_ek23 {
	top: 0px;
	left: 5px;
	width: 0px;
	height: 9.36px;
}


#vector_ek24 {
	top: 5px;
	left: 0px;
	width: 9.36px;
	height: 0px;
}


#follow {
	top: 5px;
	left: 28px;
	width: 62.360000286102px;
	height: 26.900000286102px;
	overflow: hidden;
	font-family: poppins;
	font-size: 14.4px;
	text-align: left;
	line-height: 19.224000549316px;
	color: #000000;
}


#collaborate {
	top: 5px;
	left: 138px;
	width: 97.300000286102px;
	height: 26.900000286102px;
	overflow: hidden;
	font-family: poppins;
	font-size: 14.4px;
	text-align: left;
	line-height: 19.224000549316px;
	color: #000000;
}

#_6406135141647562843_1 {
	top: 0px;
	left: 102px;
	width: 26.4px;
	height: 26.4px;
}

#teamwork {
	top: 1.65px;
	left: 1.65px;
	width: 23.09px;
	height: 23.1px;
}

#vector_ek25 {
	top: 0px;
	left: 10px;
	width: 3.71px;
	height: 3.71px;
}


#vector_ek26 {
	top: 4px;
	left: 8px;
	width: 6.5px;
	height: 3.71px;
}


#vector_ek27 {
	top: 7px;
	left: 18px;
	width: 3.71px;
	height: 3.71px;
}


#vector_ek28 {
	top: 11px;
	left: 17px;
	width: 6.5px;
	height: 3.71px;
}


#vector_ek29 {
	top: 7px;
	left: 1px;
	width: 3.71px;
	height: 3.71px;
}


#vector_ek30 {
	top: 11px;
	left: 0px;
	width: 6.5px;
	height: 3.71px;
}


#vector_ek31 {
	top: 16px;
	left: 10px;
	width: 3.71px;
	height: 3.71px;
}


#vector_ek32 {
	top: 19px;
	left: 8px;
	width: 6.5px;
	height: 3.71px;
}


#vector_ek33 {
	top: 2px;
	left: 3px;
	width: 4.93px;
	height: 4.09px;
}


#vector_ek34 {
	top: 17px;
	left: 16px;
	width: 4.48px;
	height: 4.3px;
}


#vector_ek35 {
	top: 2px;
	left: 15px;
	width: 4.96px;
	height: 4.1px;
}


#vector_ek36 {
	top: 17px;
	left: 3px;
	width: 4.48px;
	height: 4.3px;
}


#message {
	top: 5px;
	left: 276px;
	width: 97.300000286102px;
	height: 26.900000286102px;
	overflow: hidden;
	font-family: poppins;
	font-size: 14.4px;
	text-align: left;
	line-height: 19.224000549316px;
	color: #000000;
}

#_22 {
	top: 346px;
	left: 311px;
	width: 17.67px;
	height: 13.88px;
}

#vector_ek37 {
	top: 0px;
	left: 0px;
	width: 17.67px;
	height: 13.88px;
}


#vector_ek38 {
	top: 3px;
	left: 2px;
	width: 13.85px;
	height: 5.67px;
}

#group_64560 {
	top: 676px;
	left: 510px;
	width: 868.47px;
	height: 269.81px;
}

#group_6 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 268.29px;
}

#vector_ek39 {
	top: 250px;
	left: 55px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek40 {
	top: 228px;
	left: 82px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2 {
	top: 0px;
	left: 171px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}


#ellipse_7 {
	top: 197px;
	left: 1px;
	width: 45.03px;
	height: 48.1px;
}


#don__hill {
	top: 201px;
	left: 52px;
	width: 121.44000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#heavens_reign {
	top: 222px;
	left: 52px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1 {
	top: 247px;
	left: 110px;
	width: 20.69px;
	height: 20.69px;
}

#group_1 {
	top: 248px;
	left: 136px;
	width: 15.2px;
	height: 20.22px;
}

#group_2 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek5 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek6 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek41 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek42 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek43 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek44 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5 {
	top: 249px;
	left: 159px;
	width: 15.82px;
	height: 16.55px;
}

#group_3 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek45 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_8 {
	top: 0px;
	left: 462px;
	width: 185.49px;
	height: 268.29px;
}

#vector_ek46 {
	top: 250px;
	left: 55px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek47 {
	top: 228px;
	left: 82px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek1 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek1 {
	top: 0px;
	left: 171px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek1 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}


#ellipse_7_ek1 {
	top: 197px;
	left: 1px;
	width: 45.03px;
	height: 48.1px;
}


#don__hill_ek1 {
	top: 201px;
	left: 52px;
	width: 121.44000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#heavens_reign_ek1 {
	top: 222px;
	left: 52px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek1 {
	top: 247px;
	left: 110px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek1 {
	top: 248px;
	left: 136px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek1 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek7 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek8 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek48 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek49 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek50 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek51 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek1 {
	top: 249px;
	left: 159px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek1 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek52 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek1 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek1 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek1 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_7 {
	top: 1px;
	left: 233px;
	width: 185.77px;
	height: 268.29px;
}

#vector_ek53 {
	top: 250px;
	left: 3px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek54 {
	top: 228px;
	left: 30px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek2 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek2 {
	top: 0px;
	left: 172px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek2 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}

#group_64449 {
	top: 193px;
	left: 3px;
	width: 139.79px;
	height: 27.6px;
}

#ellipse_7_ek2 {
	top: 0px;
	left: 0px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_8 {
	top: 0px;
	left: 28px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_9 {
	top: 0px;
	left: 57px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_10 {
	top: 0px;
	left: 85px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_11 {
	top: 0px;
	left: 114px;
	width: 25.84px;
	height: 27.6px;
}


#heavens_reign_ek2 {
	top: 222px;
	left: 0px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek2 {
	top: 247px;
	left: 58px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek2 {
	top: 248px;
	left: 84px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek2 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek9 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek10 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek55 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek56 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek57 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek58 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek2 {
	top: 249px;
	left: 107px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek2 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek59 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek2 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek2 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek2 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_64556 {
	top: 2px;
	left: 681px;
	width: 187.48px;
	height: 268.29px;
}

#group_12 {
	top: 0px;
	left: 0px;
	width: 187.48px;
	height: 268.29px;
}

#vector_ek60 {
	top: 250px;
	left: 3px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek61 {
	top: 227px;
	left: 30px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek3 {
	top: 0px;
	left: 2px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek3 {
	top: 0px;
	left: 173px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek3 {
	top: 13px;
	left: 3px;
	width: 170.9px;
	height: 175.98px;
}


#heavens_reign_ek3 {
	top: 222px;
	left: 0px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek3 {
	top: 247px;
	left: 58px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek3 {
	top: 248px;
	left: 84px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek3 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek11 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek12 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek62 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek63 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek64 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek65 {
	top: 248px;
	left: 157px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek3 {
	top: 249px;
	left: 107px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek3 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek66 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek3 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek3 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek3 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_64450 {
	top: 195px;
	left: 2px;
	width: 139.79px;
	height: 27.6px;
}

#ellipse_7_ek3 {
	top: 0px;
	left: 0px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_8_ek1 {
	top: 0px;
	left: 28px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_9_ek1 {
	top: 0px;
	left: 57px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_10_ek1 {
	top: 0px;
	left: 85px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_11_ek1 {
	top: 0px;
	left: 114px;
	width: 25.84px;
	height: 27.6px;
}

#group_64559 {
	top: 1087px;
	left: 507px;
	width: 880.05px;
	height: 269.5px;
}

#group_10 {
	top: 1px;
	left: 0px;
	width: 185.49px;
	height: 268.29px;
}

#vector_ek67 {
	top: 250px;
	left: 55px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek68 {
	top: 228px;
	left: 82px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek4 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek4 {
	top: 0px;
	left: 171px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek4 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}


#ellipse_7_ek4 {
	top: 197px;
	left: 1px;
	width: 45.03px;
	height: 48.1px;
}


#don__hill_ek2 {
	top: 201px;
	left: 52px;
	width: 121.44000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#heavens_reign_ek4 {
	top: 222px;
	left: 52px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek4 {
	top: 247px;
	left: 110px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek4 {
	top: 248px;
	left: 136px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek4 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek13 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek14 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek69 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek70 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek71 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek72 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek4 {
	top: 249px;
	left: 159px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek4 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek73 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek4 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek4 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek4 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_11 {
	top: 1px;
	left: 240px;
	width: 185.61px;
	height: 268.29px;
}

#vector_ek74 {
	top: 250px;
	left: 3px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek75 {
	top: 228px;
	left: 30px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek5 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek5 {
	top: 0px;
	left: 172px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek5 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}


#heavens_reign_ek5 {
	top: 222px;
	left: 0px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek5 {
	top: 247px;
	left: 58px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek5 {
	top: 248px;
	left: 84px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek5 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek15 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek16 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek76 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek77 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek78 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek79 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek5 {
	top: 249px;
	left: 107px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek5 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek80 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek5 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek5 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek5 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_12_ek1 {
	top: 0px;
	left: 475px;
	width: 185.49px;
	height: 268.29px;
}

#vector_ek81 {
	top: 250px;
	left: 55px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek82 {
	top: 228px;
	left: 81px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek6 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek6 {
	top: 0px;
	left: 171px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek6 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}


#ellipse_7_ek5 {
	top: 197px;
	left: 1px;
	width: 45.03px;
	height: 48.1px;
}


#don__hill_ek3 {
	top: 201px;
	left: 52px;
	width: 121.44000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#heavens_reign_ek6 {
	top: 222px;
	left: 52px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek6 {
	top: 247px;
	left: 110px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek6 {
	top: 248px;
	left: 136px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek6 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek17 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek18 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek83 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek84 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek85 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek86 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek6 {
	top: 249px;
	left: 159px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek6 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek87 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek6 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek6 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek6 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_13 {
	top: 1px;
	left: 695px;
	width: 185.49px;
	height: 268.29px;
}

#vector_ek88 {
	top: 250px;
	left: 55px;
	width: 18.81px;
	height: 16.41px;
}


#vector_ek89 {
	top: 228px;
	left: 81px;
	width: 19.77px;
	height: 19.77px;
}


#vector_1_ek7 {
	top: 0px;
	left: 0px;
	width: 185.49px;
	height: 12.78px;
}


#vector_2_ek7 {
	top: 0px;
	left: 171px;
	width: 14.03px;
	height: 188.78px;
}


#rectangle_2_ek7 {
	top: 13px;
	left: 1px;
	width: 170.9px;
	height: 175.98px;
}


#ellipse_7_ek6 {
	top: 197px;
	left: 1px;
	width: 45.03px;
	height: 48.1px;
}


#don__hill_ek4 {
	top: 201px;
	left: 52px;
	width: 121.44000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#heavens_reign_ek7 {
	top: 222px;
	left: 52px;
	width: 156.52000061035px;
	height: 37.420000610352px;
	overflow: hidden;
	font-family: poppins;
	font-size: 18.72px;
	text-align: left;
	line-height: 24.991200714111px;
	color: #000000;
}


#_1370992991530513412_128_1_ek7 {
	top: 247px;
	left: 110px;
	width: 20.69px;
	height: 20.69px;
}

#group_1_ek7 {
	top: 248px;
	left: 136px;
	width: 15.2px;
	height: 20.22px;
}

#group_2_ek7 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 20.22px;
}

#group_ek19 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#group_ek20 {
	top: 0px;
	left: 0px;
	width: 15.2px;
	height: 18.42px;
}

#vector_ek90 {
	top: 0px;
	left: 2px;
	width: 10.35px;
	height: 10.34px;
}


#vector_ek91 {
	top: 11px;
	left: 0px;
	width: 15.2px;
	height: 7.18px;
}


#vector_ek92 {
	top: 15px;
	left: 7px;
	width: 5.21px;
	height: 5.21px;
}


#vector_ek93 {
	top: 248px;
	left: 155px;
	width: 11.7px;
	height: 11.7px;
}

#group_5_ek7 {
	top: 249px;
	left: 159px;
	width: 15.82px;
	height: 16.55px;
}

#group_3_ek7 {
	top: 1px;
	left: 7px;
	width: 2.96px;
	height: 14.63px;
}

#vector_ek94 {
	top: 0px;
	left: 0px;
	width: 2.96px;
	height: 4.24px;
}


#rectangle_3_ek7 {
	top: 5px;
	left: 0px;
	width: 3.89px;
	height: 10.84px;
	-ms-border-radius: 51.48px;
	-o-border-radius: 51.48px;
	-moz-border-radius: 51.48px;
	-webkit-border-radius: 51.48px;
	border-radius: 51.48px;
	border: 0.59px solid #000000;
	background: rgba(255, 255, 255, 0);
}

#group_4_ek7 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#vector_3_ek7 {
	top: 0px;
	left: 0px;
	width: 15.82px;
	height: 16.55px;
}

#group_64451 {
	top: 194px;
	left: 241px;
	width: 139.79px;
	height: 27.6px;
}

#ellipse_7_ek7 {
	top: 0px;
	left: 0px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_8_ek2 {
	top: 0px;
	left: 28px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_9_ek2 {
	top: 0px;
	left: 57px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_10_ek2 {
	top: 0px;
	left: 85px;
	width: 25.84px;
	height: 27.6px;
}


#ellipse_11_ek2 {
	top: 0px;
	left: 114px;
	width: 25.84px;
	height: 27.6px;
}

#group_64098 {
	top: 587px;
	left: 527px;
	width: 501.7px;
	height: 67.82px;
}

#benjamin_plugs {
	top: 3px;
	left: 65px;
	width: 472.18px;
	height: 85.58px;
	overflow: hidden;
	font-family: poppins;
	font-size: 30px;
	text-align: left;
	line-height: 40.050001144409px;
	color: #000000;
}


#rectangle_2711 {
	top: 0px;
	left: 0px;
	width: 49.9px;
	height: 42.18px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background: rgba(255, 255, 255, 0);
	background: -webkit-linear-gradient(-133.92912808468deg, rgba(12, 170, 220, 1) 0%, rgba(247, 209, 12, 1) 100%);
	background: -o-linear-gradient(-133.92912808468deg, rgba(12, 170, 220, 1) 0%, rgba(247, 209, 12, 1) 100%);
	background: -moz-linear-gradient(-133.92912808468deg, rgba(12, 170, 220, 1) 0%, rgba(247, 209, 12, 1) 100%);
	background: -ms-linear-gradient(-133.92912808468deg, rgba(12, 170, 220, 1) 0%, rgba(247, 209, 12, 1) 100%);
	background: linear-gradient(-133.92912808468deg, rgba(12, 170, 220, 1) 0%, rgba(247, 209, 12, 1) 100%);
}

#group_64453 {
	top: 995px;
	left: 523px;
	width: 389.64px;
	height: 69.85px;
}

#rectangle_2711_ek1 {
	top: 0px;
	left: 0px;
	width: 49.9px;
	height: 42.18px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background: rgba(255, 255, 255, 0);
	background: -webkit-linear-gradient(-133.92912808468deg, rgba(247, 209, 12, 1) 0%, rgba(255, 47, 231, 1) 100%);
	background: -o-linear-gradient(-133.92912808468deg, rgba(247, 209, 12, 1) 0%, rgba(255, 47, 231, 1) 100%);
	background: -moz-linear-gradient(-133.92912808468deg, rgba(247, 209, 12, 1) 0%, rgba(255, 47, 231, 1) 100%);
	background: -ms-linear-gradient(-133.92912808468deg, rgba(247, 209, 12, 1) 0%, rgba(255, 47, 231, 1) 100%);
	background: linear-gradient(-133.92912808468deg, rgba(247, 209, 12, 1) 0%, rgba(255, 47, 231, 1) 100%);
}


#recommended_plugs {
	top: 5px;
	left: 62px;
	width: 362.15px;
	height: 85.58px;
	overflow: hidden;
	font-family: poppins;
	font-size: 30px;
	text-align: left;
	line-height: 40.050001144409px;
	color: #000000;
}



/* Add your custom CSS here */